In [70]:
import pandas as pd
import numpy as numpy
from sklearn.model_selection import train_test_split
from sklearn import linear_model

In [71]:
car = pd.read_csv('./quikr_car.csv')

In [72]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [73]:
companies=[]
for i in car['company']:
    if i not in companies:
        companies.append(i)
len(companies)

48

In [74]:
c=[]
for i in car['company']:
    c.append(companies.index(i))
c

[0,
 1,
 2,
 0,
 3,
 3,
 3,
 0,
 3,
 2,
 4,
 2,
 0,
 1,
 0,
 1,
 5,
 5,
 1,
 2,
 1,
 1,
 2,
 0,
 0,
 0,
 2,
 2,
 2,
 1,
 2,
 1,
 2,
 2,
 2,
 6,
 7,
 4,
 2,
 7,
 7,
 8,
 2,
 2,
 8,
 8,
 8,
 9,
 2,
 10,
 1,
 2,
 1,
 2,
 2,
 2,
 1,
 2,
 8,
 2,
 3,
 0,
 11,
 3,
 11,
 1,
 12,
 4,
 2,
 13,
 14,
 7,
 8,
 15,
 9,
 4,
 8,
 8,
 7,
 15,
 1,
 1,
 1,
 3,
 8,
 13,
 12,
 0,
 6,
 0,
 6,
 8,
 0,
 4,
 16,
 2,
 6,
 3,
 2,
 14,
 16,
 1,
 0,
 0,
 2,
 2,
 3,
 2,
 2,
 2,
 0,
 8,
 0,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 6,
 0,
 14,
 2,
 17,
 2,
 2,
 8,
 2,
 14,
 6,
 8,
 3,
 0,
 2,
 11,
 2,
 18,
 6,
 6,
 6,
 12,
 12,
 12,
 1,
 7,
 8,
 17,
 0,
 7,
 7,
 3,
 7,
 1,
 2,
 14,
 9,
 2,
 19,
 2,
 6,
 0,
 0,
 14,
 14,
 14,
 1,
 11,
 6,
 8,
 2,
 0,
 1,
 1,
 8,
 3,
 8,
 8,
 2,
 8,
 0,
 11,
 0,
 20,
 1,
 19,
 4,
 15,
 0,
 2,
 2,
 8,
 0,
 11,
 1,
 1,
 6,
 2,
 2,
 11,
 2,
 2,
 2,
 11,
 21,
 2,
 2,
 12,
 7,
 1,
 0,
 0,
 1,
 1,
 7,
 1,
 22,
 2,
 1,
 2,
 1,
 6,
 12,
 8,
 2,
 8,
 1,
 10,
 5,
 23,
 24,
 7,
 11,
 23,
 9,
 11,
 11,
 8,
 8,
 8,
 8,
 8,
 8,
 5,
 22,
 1,
 0,
 15,
 2,
 14,
 8,
 0,
 11,
 2,
 2,
 2,
 14,
 0,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 15,
 17,
 7,
 7,
 7,
 2,
 7,
 2,
 7,
 7,
 7,
 0,
 2,
 14,
 11,
 0,
 0,
 20,
 14,
 1,
 19,
 14,
 4,
 3,
 0,
 25,
 2,
 1,
 15,
 15,
 11,
 15,
 11,
 2,
 1,
 11,
 8,
 1,
 14,
 3,
 2,
 8,
 2,
 8,
 1,
 2,
 8,
 8,
 6,
 8,
 4,
 7,
 2,
 2,
 1,
 0,
 2,
 2,
 1,
 8,
 1,
 1,
 4,
 12,
 0,
 11,
 14,
 7,
 0,
 5,
 0,
 1,
 1,
 7,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 9,
 6,
 0,
 0,
 2,
 6,
 0,
 1,
 26,
 1,
 8,
 14,
 1,
 7,
 1,
 11,
 11,
 1,
 22,
 4,
 11,
 2,
 2,
 2,
 1,
 0,
 2,
 2,
 8,
 1,
 1,
 14,
 8,
 2,
 0,
 6,
 2,
 2,
 6,
 12,
 2,
 0,
 2,
 2,
 2,
 11,
 12,
 23,
 2,
 27,
 8,
 0,
 2,
 0,
 0,
 12,
 2,
 2,
 8,
 0,
 2,
 1,
 28,
 2,
 0,
 1,
 0,
 0,
 7,
 0,
 8,
 1,
 14,
 1,
 2,
 17,
 2,
 3,
 6,
 11,
 11,
 1,
 23,
 14,
 3,
 11,
 0,
 12,
 7,
 29,
 3,
 8,
 0,
 16,
 4,
 5,
 1,
 2,
 1,
 3,
 2,
 1,
 11,
 1,
 1,
 0,
 0,
 8,
 2,
 3,
 1,
 8,
 0,
 2,
 0,
 10,
 0,
 6,
 2,
 11,
 1,
 1,
 0,
 8,
 0,
 2,
 11,
 2,
 11,
 6,
 2,
 6,
 1,
 11,
 2,
 2,
 2,
 8,
 2,
 2,
 0,
 2,
 6,
 2,
 8,
 11,
 0,
 2,
 2,
 2,
 8,
 0,
 2,
 2,
 2,
 2,
 7,
 11,
 30,
 0,
 0,
 8,
 18,
 2,
 0,
 0,
 2,
 2,
 8,
 2,
 2,
 2,
 6,
 0,
 1,
 2,
 10,
 2,
 2,
 0,
 0,
 3,
 2,
 0,
 2,
 2,
 5,
 2,
 2,
 2,
 2,
 2,
 0,
 2,
 0,
 0,
 0,
 14,
 3,
 2,
 0,
 11,
 16,
 0,
 8,
 11,
 14,
 0,
 0,
 2,
 1,
 1,
 2,
 0,
 22,
 9,
 2,
 14,
 0,
 6,
 7,
 14,
 2,
 16,
 6,
 1,
 14,
 14,
 31,
 2,
 0,
 2,
 2,
 11,
 1,
 11,
 0,
 11,
 11,
 11,
 11,
 20,
 0,
 0,
 7,
 2,
 11,
 20,
 7,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 32,
 11,
 1,
 6,
 11,
 1,
 29,
 7,
 33,
 11,
 2,
 2,
 4,
 2,
 14,
 11,
 11,
 0,
 11,
 1,
 2,
 2,
 1,
 0,
 0,
 3,
 0,
 11,
 6,
 17,
 14,
 2,
 2,
 2,
 2,
 34,
 6,
 33,
 2,
 0,
 1,
 12,
 6,
 1,
 0,
 0,
 2,
 2,
 0,
 0,
 2,
 2,
 0,
 0,
 0,
 3,
 0,
 14,
 11,
 30,
 5,
 16,
 2,
 16,
 2,
 2,
 2,
 8,
 12,
 8,
 5,
 1,
 11,
 1,
 2,
 11,
 2,
 1,
 2,
 10,
 7,
 12,
 2,
 5,
 35,
 6,
 10,
 14,
 16,
 9,
 23,
 1,
 12,
 11,
 3,
 8,
 2,
 3,
 2,
 2,
 2,
 7,
 2,
 2,
 8,
 11,
 7,
 1,
 2,
 2,
 2,
 5,
 0,
 2,
 1,
 13,
 0,
 36,
 2,
 1,
 11,
 1,
 0,
 14,
 2,
 1,
 6,
 2,
 0,
 2,
 0,
 0,
 0,
 1,
 0,
 11,
 0,
 0,
 0,
 8,
 17,
 8,
 2,
 2,
 2,
 11,
 2,
 0,
 0,
 2,
 21,
 0,
 14,
 11,
 11,
 11,
 11,
 2,
 1,
 3,
 18,
 3,
 0,
 0,
 19,
 3,
 2,
 11,
 1,
 0,
 1,
 0,
 2,
 6,
 0,
 11,
 2,
 12,
 2,
 11,
 2,
 2,
 11,
 14,
 37,
 1,
 0,
 38,
 39,
 2,
 40,
 41,
 42,
 2,
 20,
 43,
 11,
 44,
 2,
 0,
 20,
 43,
 2,
 32,
 45,
 11,
 0,
 0,
 0,
 12,
 2,
 11,
 2,
 2,
 0,
 2,
 2,
 2,
 7,
 0,
 2,
 11,
 1,
 6,
 1,
 0,
 2,
 1,
 1,
 9,
 3,
 11,
 0,
 2,
 2,
 2,
 6,
 46,
 2,
 2,
 2,
 12,
 1,
 2,
 1,
 14,
 12,
 0,
 2,
 0,
 11,
 6,
 6,
 0,
 6,
 0,
 11,
 8,
 11,
 1,
 11,
 2,
 0,
 0,
 14,
 2,
 0,
 8,
 2,
 0,
 23,
 2,
 2,
 4,
 2,
 2,
 32,
 11,
 6,
 47,
 11,
 1,
 8,
 14]

In [75]:
car['company']=c

In [76]:
car["company"]

0       0
1       1
2       2
3       0
4       3
       ..
887    47
888    11
889     1
890     8
891    14
Name: company, Length: 892, dtype: int64

In [77]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,0,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,1,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,2,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,0,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,3,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,47,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,11,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,1,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,8,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,14,2014,"1,60,000",Petrol,NaN

In [78]:
car['fuel_type']

0      Petrol
1      Diesel
2      Petrol
3      Petrol
4      Diesel
        ...
887       NaN
888    Diesel
889    Diesel
890       NaN
891       NaN
Name: fuel_type, Length: 892, dtype: object

In [79]:
car=car[~car['fuel_type'].isna()]

In [80]:
car['fuel_type']

0      Petrol
1      Diesel
2      Petrol
3      Petrol
4      Diesel
        ...
883    Petrol
885    Diesel
886    Petrol
888    Diesel
889    Diesel
Name: fuel_type, Length: 837, dtype: object

In [81]:
fuel_type=[]
for i in car['fuel_type']:
    if i not in fuel_type:
        fuel_type.append(i)
fuel_type

['Petrol', 'Diesel', 'LPG']

In [82]:
y=[]
for i in car['fuel_type']:
    y.append(fuel_type.index(i))
y

[0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 2,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1]

In [83]:
car['Price']

0             80,000
1           4,25,000
2      Ask For Price
3           3,25,000
4           5,75,000
           ...
883         2,70,000
885         1,10,000
886         3,00,000
888         2,60,000
889         3,90,000
Name: Price, Length: 837, dtype: object

In [84]:
car['fuel_type']=y

/var/folders/pj/6d53jbf941v4yyyzccgm4wp00000gn/T/ipykernel_1118/3504920854.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['fuel_type']=y

In [85]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,0,2007,"80,000","45,000 kms",0
1,Mahindra Jeep CL550 MDI,1,2006,"4,25,000",40 kms,1
2,Maruti Suzuki Alto 800 Vxi,2,2018,Ask For Price,"22,000 kms",0
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,0,2014,"3,25,000","28,000 kms",0
4,Ford EcoSport Titanium 1.5L TDCi,3,2014,"5,75,000","36,000 kms",1
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,2,2011,"2,70,000","50,000 kms",0
885,Tata Indica V2 DLE BS III,11,2009,"1,10,000","30,000 kms",1
886,Toyota Corolla Altis,6,2009,"3,00,000","1,32,000 kms",0
888,Tata Zest XM Diesel,11,2018,"2,60,000","27,000 kms",1
889,Mahindra Quanto C8,1,2013,"3,90,000","40,000 kms",1

In [86]:
car['name']

0        Hyundai Santro Xing XO eRLX Euro III
1                     Mahindra Jeep CL550 MDI
2                  Maruti Suzuki Alto 800 Vxi
3      Hyundai Grand i10 Magna 1.2 Kappa VTVT
4            Ford EcoSport Titanium 1.5L TDCi
                        ...
883                Maruti Suzuki Ritz VXI ABS
885                 Tata Indica V2 DLE BS III
886                      Toyota Corolla Altis
888                       Tata Zest XM Diesel
889                        Mahindra Quanto C8
Name: name, Length: 837, dtype: object

In [87]:
x=[]
for i in car['name']:
    if i not in x:
        x.append(i)
x

['Hyundai Santro Xing XO eRLX Euro III',
 'Mahindra Jeep CL550 MDI',
 'Maruti Suzuki Alto 800 Vxi',
 'Hyundai Grand i10 Magna 1.2 Kappa VTVT',
 'Ford EcoSport Titanium 1.5L TDCi',
 'Ford Figo',
 'Hyundai Eon',
 'Ford EcoSport Ambiente 1.5L TDCi',
 'Maruti Suzuki Alto K10 VXi AMT',
 'Skoda Fabia Classic 1.2 MPI',
 'Maruti Suzuki Stingray VXi',
 'Hyundai Elite i20 Magna 1.2',
 'Mahindra Scorpio SLE BS IV',
 'Audi A8',
 'Audi Q7',
 'Mahindra Scorpio S10',
 'Maruti Suzuki Alto 800',
 'Hyundai i20 Sportz 1.2',
 'Maruti Suzuki Alto 800 Lx',
 'Maruti Suzuki Vitara Brezza ZDi',
 'Maruti Suzuki Alto LX',
 'Mahindra Bolero DI',
 'Maruti Suzuki Swift Dzire ZDi',
 'Mahindra Scorpio S10 4WD',
 'Maruti Suzuki Swift Vdi BSIII',
 'Maruti Suzuki Wagon R VXi BS III',
 'Maruti Suzuki Wagon R VXi Minor',
 'Toyota Innova 2.0 G 8 STR BS IV',
 'Renault Lodgy 85 PS RXL',
 'Skoda Yeti Ambition 2.0 TDI CR 4x2',
 'Maruti Suzuki Baleno Delta 1.2',
 'Renault Duster 110 PS RxZ Diesel Plus',
 'Renault Duster 85 PS RxE Diesel',
 'Honda City 1.5 S MT',
 'Maruti Suzuki Dzire',
 'Honda Amaze',
 'Honda Amaze 1.5 SX i DTEC',
 'Honda City',
 'Datsun Redi GO S',
 'Maruti Suzuki SX4 ZXI MT',
 'Mitsubishi Pajero Sport Limited Edition',
 'Maruti Suzuki Swift VXi 1.2 ABS BS IV',
 'Honda City ZX CVT',
 'Maruti Suzuki Wagon R LX BS IV',
 'Tata Indigo eCS LS CR4 BS IV',
 'Volkswagen Polo Highline Exquisite P',
 'Chevrolet Spark LS 1.0',
 'Renault Duster 110PS Diesel RxZ',
 'Mini Cooper S 1.6',
 'Skoda Fabia 1.2L Diesel Ambiente',
 'Renault Duster',
 'Mahindra Scorpio S4',
 'Mahindra Scorpio VLX 2WD BS IV',
 'Mahindra Quanto C8',
 'Ford EcoSport',
 'Honda Brio',
 'Volkswagen Vento Highline Plus 1.5 Diesel AT',
 'Hyundai i20 Magna',
 'Toyota Corolla Altis Diesel D4DG',
 'Hyundai Verna Transform SX VTVT',
 'Toyota Corolla Altis Petrol Ltd',
 'Honda City 1.5 EXi New',
 'Skoda Fabia 1.2L Diesel Elegance',
 'BMW 3 Series 320i',
 'Maruti Suzuki A Star Lxi',
 'Toyota Etios GD',
 'Ford Figo Diesel EXI Option',
 'Maruti Suzuki Swift Dzire VXi 1.2 BS IV',
 'Chevrolet Beat LT Diesel',
 'BMW 7 Series 740Li Sedan',
 'Mahindra XUV500 W8 AWD 2013',
 'Hyundai i10 Magna 1.2',
 'Hyundai Verna Fluidic New',
 'Maruti Suzuki Swift VXi 1.2 BS IV',
 'Maruti Suzuki Ertiga ZXI Plus',
 'Maruti Suzuki Ertiga Vxi',
 'Maruti Suzuki Ertiga VDi',
 'Maruti Suzuki Alto LXi BS III',
 'Hyundai Grand i10 Asta 1.1 CRDi',
 'Honda Amaze 1.2 S i VTEC',
 'Hyundai i20 Asta 1.4 CRDI 6 Speed',
 'Ford Figo Diesel EXI',
 'Maruti Suzuki Eeco 5 STR WITH AC HTR',
 'Maruti Suzuki Ertiga ZXi',
 'Maruti Suzuki Esteem LXi BS III',
 'Maruti Suzuki Ritz VXI',
 'Maruti Suzuki Ritz LDi',
 'Maruti Suzuki Dzire VDI',
 'Toyota Etios Liva G',
 'Hyundai i20 Sportz 1.4 CRDI',
 'Chevrolet Spark',
 'Nissan Micra XV',
 'Maruti Suzuki Swift',
 'Honda Amaze 1.5 S i DTEC',
 'Chevrolet Beat',
 'Honda City 1.5 V MT',
 'Ford EcoSport Trend 1.5L TDCi',
 'Hyundai i20 Asta 1.2',
 'Tata Indica V2 eLS',
 'Maruti Suzuki Alto 800 Lxi',
 'Hindustan Motors Ambassador',
 'Toyota Corolla Altis 1.8 GL',
 'Toyota Corolla Altis 1.8 J',
 'Toyota Innova 2.5 GX BS IV 7 STR',
 'Volkswagen Jetta Highline TDI AT',
 'Volkswagen Polo Comfortline 1.2L P',
 'Volkswagen Polo',
 'Mahindra Scorpio',
 'Nissan Sunny',
 'Hyundai Elite i20',
 'Renault Kwid',
 'Mahindra Scorpio VLX Airbag',
 'Chevrolet Spark LT 1.0',
 'Datsun Redi GO T O',
 'Maruti Suzuki Swift RS VDI',
 'Fiat Punto Emotion 1.2',
 'Hyundai i10 Sportz 1.2',
 'Chevrolet Beat LT Opt Diesel',
 'Chevrolet Beat LS Diesel',
 'Tata Indigo CS',
 'Maruti Suzuki Swift VDi',
 'Hyundai Eon Era Plus',
 'Mahindra XUV500',
 'Ford Fiesta',
 'Maruti Suzuki Wagon R',
 'Hyundai i20',
 'Tata Indigo eCS LX TDI BS III',
 'Hyundai Fluidic Verna 1.6 CRDi SX',
 'Fiat Petra ELX 1.2 PS',
 'Hyundai Santro Xing XS',
 'Maruti Suzuki Ciaz VXi Plus',
 'Maruti Suzuki Zen VX',
 'Hyundai Creta 1.6 SX Plus Petrol',
 'Mahindra Scorpio SLX',
 'Toyota Innova 2.5 G BS III 8 STR',
 'Maruti Suzuki Wagon R LXI BS IV',
 'Tata Nano Cx BSIV',
 'Maruti Suzuki Alto Std BS IV',
 'Maruti Suzuki Wagon R LXi BS III',
 'Maruti Suzuki Swift VXI BSIII',
 'Tata Sumo Victa EX 10 by 7 Str BSIII',
 'Volkswagen Passat Diesel Comfortline AT',
 'Renault Scala RxL Diesel Travelogue',
 'Hyundai Grand i10 Sportz O 1.2 Kappa VTVT',
 'Hyundai i20 Active 1.2 SX',
 'Mahindra Xylo E4',
 'Mahindra Jeep MM 550 XDB',
 'Mahindra Bolero SLE BS IV',
 'Force Motors Force One LX ABS 7 STR',
 'Maruti Suzuki SX4',
 'Toyota Etios',
 'Honda City ZX VTEC',
 'Maruti Suzuki Wagon R LX BS III',
 'Honda City VX O MT Diesel',
 'Mahindra Thar CRDe 4x4 AC',
 'Audi A4 1.8 TFSI Multitronic Premium Plus',
 'Mercedes Benz GLA Class 200 CDI Sport',
 'Land Rover Freelander 2 SE',
 'Renault Kwid RXT',
 'Tata Aria Pleasure 4X2',
 'Mercedes Benz B Class B180 Sports',
 'Datsun GO T O',
 'Honda Jazz VX MT',
 'Hyundai i20 Active 1.4L SX O',
 'Mini Cooper S',
 'Maruti Suzuki Ciaz ZXI Plus',
 'Chevrolet Tavera Neo',
 'Hyundai Eon Sportz',
 'Tata Sumo Gold Select Variant',
 'Maruti Suzuki Wagon R 1.0',
 'Maruti Suzuki Esteem VXi BS III',
 'Chevrolet Enjoy 1.4 LS 8 STR',
 'Maruti Suzuki Wagon R 1.0 VXi',
 'Nissan Terrano XL D Plus',
 'Renault Duster 85 PS RxL Diesel',
 'Maruti Suzuki Dzire ZXI',
 'Renault Kwid RXT Opt',
 'Maruti Suzuki Maruti 800 Std',
 'Renault Kwid 1.0 RXT AMT',
 'Renault Scala RxL Diesel',
 'Hyundai Grand i10 Asta 1.2 Kappa VTVT O',
 'Chevrolet Beat LS Petrol',
 'Hyundai Accent GLX',
 'Maruti Suzuki Swift LDi',
 'Mahindra TUV300 T4 Plus',
 'Tata Indica V2 Xeta e GLE',
 'Tata Indigo CS LS DiCOR',
 'Mahindra Scorpio VLX Special Edition BS III',
 'Tata Indica eV2 LS',
 'Honda Accord',
 'Ford EcoSport Titanium 1.5 TDCi',
 'Maruti Suzuki Ertiga',
 'Mahindra Scorpio 2.6 CRDe',
 'Honda Mobilio',
 'Toyota Corolla Altis',
 'Skoda Laura',
 'Hyundai Verna Fluidic',
 'Maruti Suzuki Vitara Brezza',
 'Tata Manza Aura Quadrajet',
 'Chevrolet Sail UVA Petrol LT ABS',
 'Hyundai Verna Fluidic 1.6 VTVT SX',
 'Audi A4 2.0 TDI 177bhp Premium',
 'Hyundai Elantra SX',
 'Mahindra Scorpio VLX 4WD Airbag',
 'Mahindra KUV100 K8 D 6 STR',
 'Hyundai Grand i10',
 'Hyundai i10',
 'Hyundai i20 Active',
 'Datsun Redi GO',
 'Toyota Etios Liva',
 'Hyundai Accent',
 'Hyundai Verna',
 'Toyota Fortuner',
 'Hyundai i10 Sportz',
 'Mahindra Bolero Power Plus SLE',
 'Honda City 1.5 V MT Exclusive',
 'Chevrolet Spark LT 1.0 Airbag',
 'Tata Indigo eCS VX CR4 BS IV',
 'Skoda Rapid Elegance 1.6 TDI CR MT',
 'Tata Vista Quadrajet VX',
 'Maruti Suzuki Alto K10 VXi AT',
 'Maruti Suzuki Zen LXi BS III',
 'Maruti Suzuki Swift Dzire Tour LDi',
 'Honda City ZX EXi',
 'Chevrolet Beat Diesel',
 'Hyundai Verna 1.4 VTVT',
 'Toyota Innova 2.5 E MS 7 STR BS IV',
 'Maruti Suzuki Maruti 800 Std – Befo',
 'Hyundai Elite i20 Asta 1.4 CRDI',
 'Maruti Suzuki Versa DX2 8 SEATER BSIII',
 'Tata Indigo LX TDI BS III',
 'Volkswagen Vento Konekt Diesel Highline',
 'Mercedes Benz C Class 200 CDI Classic',
 'Hyundai Santro Xing GLS',
 'Maruti Suzuki Omni Limited Edition',
 'Hyundai Sonata Transform 2.4 GDi MT',
 'Hyundai Elite i20 Sportz 1.2',
 'Honda Jazz S MT',
 'Hyundai Grand i10 Sportz 1.2 Kappa VTVT',
 'Maruti Suzuki Zen LXi BSII',
 'Mahindra Scorpio W Turbo 2.6DX 9 Seater',
 'Maruti Suzuki Alto K10 VXi',
 'Hyundai Grand i10 Asta 1.2 Kappa VTVT',
 'Mahindra XUV500 W8',
 'Hyundai i20 Magna O 1.2',
 'Renault Duster 85 PS RxL Explore LE',
 'Honda Brio V MT',
 'Mahindra TUV300 T8',
 'Nissan X Trail Select Variant',
 'Ford Ikon 1.3 CLXi NXt Finesse',
 'Toyota Fortuner 3.0 4x4 MT',
 'Tata Manza ELAN Quadrajet',
 'Mercedes Benz A Class A 180 Sport Petrol',
 'Tata Indigo LS',
 'Hyundai i20 Magna 1.2',
 'Honda Amaze 1.5 E i DTEC',
 'Hyundai Verna 1.6 EX VTVT',
 'BMW 5 Series 520d Sedan',
 'Skoda Superb 1.8 TFSI AT',
 'Audi Q3 2.0 TDI quattro Premium',
 'Mahindra Bolero DI BSII',
 'Maruti Suzuki Zen Estilo LXI Green CNG',
 'Ford Figo Duratorq Diesel Titanium 1.4',
 'Maruti Suzuki Wagon R VXI BS IV',
 'Mahindra Logan Diesel 1.5 DLS',
 'Tata Nano GenX XMA',
 'Honda City SV',
 'Ford Figo Petrol LXI',
 'Hyundai i10 Magna 1.2 Kappa2',
 'Toyota Corolla H2',
 'Maruti Suzuki Swift Dzire Tour VXi',
 'Tata Indigo CS eLS BS IV',
 'Hyundai Xcent Base 1.1 CRDi',
 'Hyundai Accent Executive Edition',
 'Tata Zest XE 75 PS Diesel',
 'Maruti Suzuki Dzire LDI',
 'Tata Sumo Gold LX BS IV',
 'Toyota Corolla Altis GL Petrol',
 'Maruti Suzuki Eeco 7 STR',
 'Toyota Fortuner 3.0 4x2 MT',
 'Mahindra XUV500 W6',
 'Tata Tigor Revotron XZ',
 'Maruti Suzuki 800',
 'Honda Mobilio S i DTEC',
 'Hyundai Verna 1.6 CRDI E',
 'Maruti Suzuki Omni Select Variant',
 'Tata Indica',
 'Hyundai Santro Xing',
 'Maruti Suzuki Zen Estilo',
 'Honda Brio VX AT',
 'Maruti Suzuki Wagon R Select Variant',
 'Tata Nano Lx BSIV',
 'Jaguar XE XE Portfolio',
 'Hyundai Xcent S 1.2',
 'Hyundai Eon Magna Plus',
 'Maruti Suzuki Ritz GENUS VXI',
 'Hyundai Grand i10 Magna AT 1.2 Kappa VTVT',
 'Hyundai Eon D Lite Plus',
 'Honda Amaze 1.2 VX i VTEC',
 'Maruti Suzuki Estilo VXi ABS BS IV',
 'Maruti Suzuki Vitara Brezza LDi O',
 'Toyota Innova 2.0 V',
 'Hyundai Creta 1.6 SX Plus Petrol AT',
 'Mahindra Scorpio Vlx BSIV',
 'Mitsubishi Lancer 1.8 LXi',
 'Maruti Suzuki Maruti 800 AC',
 'Maruti Suzuki Alto 800 LXI CNG O',
 'Ford Fiesta SXi 1.6 ABS',
 'Maruti Suzuki Ritz VDi',
 'Maruti Suzuki Estilo LX BS IV',
 'Audi A6 2.0 TDI Premium',
 'Maruti Suzuki Alto',
 'Maruti Suzuki Baleno Sigma 1.2',
 'Hyundai Verna 1.6 SX VTVT AT',
 'Maruti Suzuki Swift GLAM',
 'Hyundai Getz Prime 1.3 GVS',
 'Hyundai Santro',
 'Hyundai Getz Prime 1.3 GLX',
 'Chevrolet Beat PS Diesel',
 'Ford EcoSport Trend 1.5 Ti VCT',
 'Tata Indica V2 DLG',
 'BMW X1 xDrive20d xLine',
 'Honda City 1.5 V AT',
 'Tata Nano',
 'Chevrolet Cruze LTZ AT',
 'Maruti Suzuki Swift Dzire VDi',
 'Mahindra XUV500 W10',
 'Maruti Suzuki Alto K10 LXi CNG',
 'Hyundai Accent GLE',
 'Force Motors One SUV',
 'Datsun Go Plus T O',
 'Chevrolet Spark 1.0 LT',
 'Toyota Etios Liva GD',
 'Renault Duster 85PS Diesel RxL Optional with Nav',
 'Chevrolet Enjoy',
 'BMW 5 Series 530i',
 'Chevrolet Cruze LTZ',
 'Jeep Wrangler Unlimited 4x4 Diesel',
 'Hyundai Verna VGT CRDi SX ABS',
 'Maruti Suzuki Omni',
 'Maruti Suzuki Celerio VDi',
 'Tata Zest Quadrajet 1.3',
 'Tata Indigo CS eLX BS IV',
 'Hyundai i10 Era',
 'Tata Indigo eCS LX CR4 BS IV',
 'Tata Indigo Marina LS',
 'Hyundai Xcent SX 1.2',
 'Tata Nano LX Special Edition',
 'Renault Duster 110 PS RxZ Diesel',
 'Maruti Suzuki Wagon R AX BSIV',
 'Maruti Suzuki Alto K10 New',
 'Mahindra Xylo E8',
 'Tata Manza Aqua Quadrajet',
 'Renault Kwid 1.0',
 'Tata Venture EX 8 STR',
 'Maruti Suzuki Swift Dzire Tour LXi',
 'Maruti Suzuki Alto LX BSII',
 'Skoda Octavia Classic 1.9 TDI MT',
 'Maruti Suzuki Omni LPG BS IV',
 'Tata Sumo Gold EX BS IV',
 'Hyundai Verna 1.6 CRDI SX',
 'Mahindra Scorpio SLX 2.6 Turbo 8 Str',
 'Ford Ikon 1.6 Nxt',
 'Toyota Innova 2.5 V 7 STR',
 'Nissan Sunny XL',
 'Maruti Suzuki Swift VDi BS IV',
 'Toyota Innova 2.0 G4',
 'Maruti Suzuki Swift VDi ABS',
 'Hyundai Elite i20 Asta 1.2',
 'Volkswagen Polo Trendline 1.5L D',
 'Toyota Etios Liva Diesel',
 'Maruti Suzuki Ciaz ZXi Plus RS',
 'Hyundai Elantra 1.8 S',
 'Ford EcoSport Trend 1.5L Ti VCT',
 'Jaguar XF 2.2 Diesel Luxury',
 'Audi Q5 2.0 TDI quattro Premium Plus',
 'BMW 3 Series 320d Sedan',
 'Maruti Suzuki Swift ZXi 1.2 BS IV',
 'BMW X1 sDrive20d',
 'Maruti Suzuki S Cross Sigma 1.3',
 'Maruti Suzuki Ertiga LDi',
 'Volkswagen Vento Comfortline Petrol',
 'Mahindra KUV100',
 'Maruti Suzuki Swift Dzire Tour VDi',
 'Mahindra Scorpio 2.6 SLX',
 'Maruti Suzuki Omni 8 STR BS III',
 'Volkswagen Jetta Comfortline 1.9 TDI AT',
 'Volvo S80 Summum D4',
 'Toyota Corolla Altis VL AT Petrol',
 'Mitsubishi Pajero Sport 2.5 AT',
 'Chevrolet Beat LT Petrol',
 'BMW X1',
 'Mercedes Benz C Class C 220 CDI Avantgarde',
 'Volkswagen Vento Comfortline Diesel',
 'Tata Indigo CS GLS',
 'Ford Figo Petrol Titanium',
 'Honda City ZX GXi',
 'Maruti Suzuki Wagon R Duo Lxi',
 'Maruti Suzuki Zen LX BSII',
 'Renault Duster RxL Petrol',
 'Maruti Suzuki Baleno Zeta 1.2',
 'Honda WR V S MT Petrol',
 'Renault Duster 110 PS RxL Diesel',
 'Mahindra Scorpio LX BS III',
 'Maruti Suzuki SX4 Celebration Diesel',
 'Audi A3 Cabriolet 40 TFSI',
 'Hyundai Santro AE GLS Audio',
 'Mahindra Xylo D2 BS IV',
 'Hyundai Getz GLE',
 'Hyundai Creta 1.6 SX',
 'Hyundai Santro Xing XL AT eRLX Euro III',
 'Hyundai Santro Xing XL eRLX Euro III',
 'Tata Indica V2 DLS BS III',
 'Honda City 1.5 E MT',
 'Nissan Micra XL',
 'Honda City 1.5 S Inspire',
 'Tata Indica eV2 eXeta eGLX',
 'Maruti Suzuki Omni E 8 STR BS IV',
 'Hyundai Verna 1.6 CRDI SX Plus AT',
 'Chevrolet Tavera LS B3 10 Seats BSII',
 'Tata Tiago Revotron XM',
 'Tata Tiago Revotorq XZ',
 'Tata Nexon',
 'Hindustan Motors Ambassador Classic Mark 4 – Befo',
 'Ford Fusion 1.4 TDCi Diesel',
 'Fiat Linea Emotion 1.4 L T Jet Petrol',
 'Ford Ikon 1.3 Flair Josh 100',
 'Tata Indica V2 LS',
 'Mahindra Xylo D2',
 'Toyota Corolla',
 'Hyundai Eon Magna',
 'Tata Sumo Grande MKII GX',
 'Volkswagen Polo Highline1.2L P',
 'Tata Tiago Revotron XZ',
 'Tata Indigo eCS',
 'Mahindra Xylo E8 BS IV',
 'Tata Sumo Gold FX BSIII',
 'Hyundai Creta',
 'Tata Bolt XM Petrol',
 'Hyundai Venue',
 'Maruti Suzuki Ritz',
 'Renault Lodgy',
 'Hyundai i20 Asta',
 'Maruti Suzuki Swift Select Variant',
 'Tata Indica V2 DLX BS III',
 'Mahindra Scorpio VLX 2.2 mHawk Airbag BSIV',
 'Toyota Innova 2.5 E 8 STR',
 'Mahindra KUV100 K8 6 STR',
 'Datsun Go Plus',
 'Ford Endeavor 4x4 Thunder Plus',
 'Tata Indica V2',
 'Hyundai Santro Xing GL',
 'Toyota Innova 2.5 Z Diesel 7 Seater',
 'Maruti Suzuki Alto AX',
 'Mahindra Logan',
 'Maruti Suzuki 800 Std BS III',
 'Chevrolet Sail 1.2 LS',
 'Volkswagen Vento Highline Plus 1.5 Diesel',
 'Tata Manza',
 'Toyota Innova 2.0 G1 Petrol 8seater',
 'Toyota Etios G',
 'Toyota Qualis',
 'Mahindra Quanto C4',
 'Maruti Suzuki Swift Dzire',
 'Hyundai i20 Select Variant',
 'Honda City VX Petrol',
 'Hyundai Getz',
 'Mercedes Benz C Class 200 K MT',
 'Skoda Fabia',
 'Maruti Suzuki Alto 800 Select Variant',
 'Maruti Suzuki Ritz VXI ABS',
 'Tata Indica V2 DLE BS III',
 'Tata Zest XM Diesel']

In [88]:
car_index=[]
for i in car['name']:
    car_index.append(x.index(i))
car_index

[0,
 1,
 2,
 3,
 4,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 0,
 1,
 13,
 14,
 15,
 16,
 15,
 15,
 2,
 17,
 17,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 8,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 21,
 22,
 23,
 24,
 25,
 26,
 15,
 41,
 42,
 43,
 5,
 6,
 44,
 7,
 44,
 12,
 45,
 9,
 10,
 46,
 47,
 37,
 48,
 38,
 49,
 35,
 35,
 50,
 48,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 11,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 4,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 34,
 86,
 73,
 87,
 88,
 89,
 90,
 8,
 91,
 92,
 16,
 93,
 2,
 94,
 95,
 96,
 97,
 67,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 50,
 35,
 108,
 109,
 110,
 50,
 54,
 50,
 111,
 99,
 112,
 113,
 114,
 115,
 114,
 65,
 89,
 116,
 117,
 118,
 68,
 52,
 119,
 102,
 95,
 120,
 121,
 15,
 122,
 55,
 123,
 35,
 37,
 124,
 37,
 125,
 126,
 127,
 53,
 128,
 49,
 48,
 129,
 130,
 131,
 37,
 132,
 133,
 12,
 134,
 8,
 135,
 136,
 137,
 138,
 139,
 140,
 138,
 77,
 141,
 142,
 53,
 143,
 144,
 145,
 146,
 47,
 147,
 148,
 149,
 1,
 16,
 1,
 150,
 106,
 151,
 152,
 153,
 154,
 40,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 126,
 126,
 162,
 79,
 35,
 37,
 37,
 35,
 155,
 148,
 51,
 163,
 164,
 165,
 166,
 35,
 167,
 168,
 169,
 170,
 82,
 171,
 80,
 81,
 82,
 83,
 84,
 85,
 34,
 86,
 39,
 172,
 48,
 173,
 32,
 32,
 174,
 175,
 176,
 177,
 178,
 28,
 179,
 180,
 67,
 181,
 126,
 0,
 127,
 181,
 53,
 128,
 181,
 49,
 4,
 182,
 183,
 184,
 48,
 48,
 185,
 164,
 186,
 41,
 187,
 188,
 189,
 51,
 166,
 190,
 191,
 35,
 34,
 37,
 192,
 34,
 37,
 193,
 194,
 37,
 195,
 50,
 191,
 34,
 122,
 196,
 197,
 124,
 107,
 35,
 122,
 107,
 195,
 106,
 109,
 198,
 199,
 31,
 200,
 201,
 202,
 203,
 204,
 142,
 53,
 143,
 144,
 145,
 205,
 125,
 6,
 206,
 207,
 208,
 209,
 210,
 211,
 92,
 212,
 213,
 214,
 122,
 215,
 216,
 146,
 47,
 122,
 217,
 147,
 148,
 218,
 219,
 220,
 149,
 221,
 1,
 71,
 16,
 222,
 223,
 1,
 146,
 224,
 33,
 225,
 226,
 99,
 227,
 150,
 106,
 92,
 228,
 67,
 229,
 230,
 231,
 232,
 76,
 37,
 233,
 234,
 235,
 236,
 231,
 99,
 77,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 132,
 244,
 245,
 238,
 246,
 184,
 46,
 247,
 222,
 248,
 2,
 249,
 250,
 251,
 252,
 118,
 96,
 253,
 254,
 56,
 158,
 4,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 15,
 262,
 263,
 264,
 265,
 184,
 184,
 11,
 11,
 266,
 30,
 267,
 15,
 37,
 11,
 229,
 121,
 40,
 268,
 269,
 270,
 271,
 15,
 15,
 272,
 37,
 273,
 30,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 75,
 229,
 283,
 191,
 197,
 284,
 139,
 279,
 285,
 35,
 286,
 287,
 288,
 135,
 124,
 289,
 272,
 239,
 261,
 290,
 77,
 158,
 291,
 292,
 293,
 294,
 33,
 100,
 295,
 296,
 297,
 67,
 263,
 298,
 299,
 300,
 82,
 301,
 302,
 303,
 76,
 304,
 305,
 306,
 3,
 297,
 307,
 308,
 72,
 138,
 309,
 310,
 138,
 124,
 124,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 175,
 127,
 320,
 321,
 97,
 322,
 323,
 324,
 72,
 325,
 280,
 326,
 327,
 328,
 329,
 330,
 311,
 331,
 206,
 332,
 333,
 334,
 99,
 335,
 88,
 146,
 118,
 336,
 337,
 76,
 338,
 339,
 340,
 341,
 280,
 342,
 343,
 126,
 230,
 344,
 345,
 346,
 294,
 174,
 327,
 347,
 348,
 349,
 92,
 191,
 41,
 350,
 57,
 71,
 274,
 351,
 277,
 352,
 204,
 353,
 354,
 355,
 356,
 357,
 358,
 224,
 359,
 360,
 359,
 192,
 221,
 67,
 361,
 238,
 236,
 362,
 236,
 363,
 364,
 68,
 99,
 365,
 365,
 92,
 366,
 367,
 368,
 326,
 369,
 370,
 184,
 368,
 233,
 221,
 371,
 121,
 372,
 120,
 261,
 121,
 3,
 72,
 373,
 57,
 224,
 188,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 8,
 266,
 381,
 61,
 201,
 382,
 274,
 243,
 383,
 276,
 67,
 384,
 385,
 40,
 50,
 386,
 75,
 201,
 387,
 388,
 389,
 390,
 391,
 38,
 392,
 133,
 393,
 394,
 395,
 396,
 397,
 96,
 325,
 385,
 398,
 399,
 73,
 400,
 401,
 342,
 402,
 403,
 221,
 138,
 404,
 405,
 297,
 261,
 133,
 406,
 383,
 51,
 407,
 316,
 68,
 325,
 243,
 250,
 241,
 408,
 222,
 409,
 410,
 411,
 407,
 411,
 412,
 116,
 3,
 410,
 413,
 414,
 415,
 99,
 152,
 76,
 416,
 417,
 121,
 6,
 183,
 418,
 419,
 420,
 421,
 422,
 221,
 204,
 190,
 423,
 424,
 410,
 316,
 425,
 426,
 417,
 427,
 51,
 411,
 428,
 242,
 99,
 429,
 430,
 431,
 120,
 432,
 18,
 433,
 183,
 120,
 434,
 118,
 435,
 297,
 436,
 323,
 109,
 268,
 437,
 106,
 34,
 438,
 18,
 311,
 439,
 440,
 99,
 34,
 441,
 442,
 443,
 444,
 445,
 446,
 351,
 254,
 339,
 382,
 447,
 448,
 449,
 450,
 451,
 172,
 443,
 18,
 452,
 16,
 453,
 18,
 432,
 454,
 455,
 107,
 456,
 457,
 406,
 26,
 6,
 458,
 459,
 460,
 317,
 461,
 287,
 188,
 33,
 274,
 462,
 344,
 463,
 109,
 464,
 166,
 34,
 109,
 465,
 34,
 466,
 467,
 77,
 383,
 468,
 469,
 470,
 471,
 194,
 472,
 53]

In [89]:
car['name']=car_index

/var/folders/pj/6d53jbf941v4yyyzccgm4wp00000gn/T/ipykernel_1118/4207117846.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['name']=car_index

In [90]:
car['name']

0        0
1        1
2        2
3        3
4        4
      ...
883    470
885    471
886    194
888    472
889     53
Name: name, Length: 837, dtype: int64

In [91]:
car

     name  company  year          Price    kms_driven  fuel_type
0       0        0  2007         80,000    45,000 kms          0
1       1        1  2006       4,25,000        40 kms          1
2       2        2  2018  Ask For Price    22,000 kms          0
3       3        0  2014       3,25,000    28,000 kms          0
4       4        3  2014       5,75,000    36,000 kms          1
..    ...      ...   ...            ...           ...        ...
883   470        2  2011       2,70,000    50,000 kms          0
885   471       11  2009       1,10,000    30,000 kms          1
886   194        6  2009       3,00,000  1,32,000 kms          0
888   472       11  2018       2,60,000    27,000 kms          1
889    53        1  2013       3,90,000    40,000 kms          1

[837 rows x 6 columns]

In [92]:
kms=[]
for i in car['kms_driven']:
    kms.append(i.split("kms"))
kms

[['45,000 ', ''],
 ['40 ', ''],
 ['22,000 ', ''],
 ['28,000 ', ''],
 ['36,000 ', ''],
 ['59,000 ', ''],
 ['41,000 ', ''],
 ['25,000 ', ''],
 ['24,530 ', ''],
 ['60,000 ', ''],
 ['60,000 ', ''],
 ['30,000 ', ''],
 ['32,000 ', ''],
 ['48,660 ', ''],
 ['45,000 ', ''],
 ['40 ', ''],
 ['4,000 ', ''],
 ['16,934 ', ''],
 ['43,000 ', ''],
 ['35,550 ', ''],
 ['43,000 ', ''],
 ['39,522 ', ''],
 ['39,000 ', ''],
 ['55,000 ', ''],
 ['55,000 ', ''],
 ['55,000 ', ''],
 ['72,000 ', ''],
 ['15,975 ', ''],
 ['70,000 ', ''],
 ['23,452 ', ''],
 ['35,522 ', ''],
 ['48,508 ', ''],
 ['15,487 ', ''],
 ['39,000 ', ''],
 ['39,000 ', ''],
 ['82,000 ', ''],
 ['20,000 ', ''],
 ['68,000 ', ''],
 ['32,000 ', ''],
 ['38,000 ', ''],
 ['27,000 ', ''],
 ['33,000 ', ''],
 ['60,000 ', ''],
 ['46,000 ', ''],
 ['46,000 ', ''],
 ['36,000 ', ''],
 ['55,000 ', ''],
 ['16,000 ', ''],
 ['36,000 ', ''],
 ['47,000 ', ''],
 ['23,452 ', ''],
 ['35,522 ', ''],
 ['48,508 ', ''],
 ['15,487 ', ''],
 ['39,000 ', ''],
 ['39,000 ', ''],
 ['35,000 ', ''],
 ['30,874 ', ''],
 ['15,000 ', ''],
 ['29,685 ', ''],
 ['41,000 ', ''],
 ['25,000 ', ''],
 ['1,30,000 ', ''],
 ['24,530 ', ''],
 ['1,30,000 ', ''],
 ['19,000 ', ''],
 ['60,000 ', ''],
 ['60,000 ', ''],
 ['30,000 ', ''],
 ['41,000 ', ''],
 ['35,000 ', ''],
 ['54,000 ', ''],
 ['13,000 ', ''],
 ['16,000 ', ''],
 ['38,200 ', ''],
 ['22,000 ', ''],
 ['22,000 ', ''],
 ['50,000 ', ''],
 ['13,500 ', ''],
 ['30,000 ', ''],
 ['50,000 ', ''],
 ['20,000 ', ''],
 ['39,000 ', ''],
 ['30,000 ', ''],
 ['3,600 ', ''],
 ['32,000 ', ''],
 ['38,000 ', ''],
 ['45,000 ', ''],
 ['35,000 ', ''],
 ['50,000 ', ''],
 ['32,000 ', ''],
 ['45,863 ', ''],
 ['60,500 ', ''],
 ['12,500 ', ''],
 ['60,000 ', ''],
 ['35,000 ', ''],
 ['35,000 ', ''],
 ['45,000 ', ''],
 ['35,000 ', ''],
 ['38,000 ', ''],
 ['18,000 ', ''],
 ['35,000 ', ''],
 ['13,349 ', ''],
 ['29,000 ', ''],
 ['44,000 ', ''],
 ['29,000 ', ''],
 ['42,000 ', ''],
 ['14,000 ', ''],
 ['49,000 ', ''],
 ['42,000 ', ''],
 ['36,200 ', ''],
 ['50,000 ', ''],
 ['55,000 ', ''],
 ['45,000 ', ''],
 ['51,000 ', ''],
 ['19,000 ', ''],
 ['46,000 ', ''],
 ['33,000 ', ''],
 ['13,349 ', ''],
 ['1,04,000 ', ''],
 ['55,000 ', ''],
 ['33,333 ', ''],
 ['33,600 ', ''],
 ['5,600 ', ''],
 ['41,000 ', ''],
 ['70,000 ', ''],
 ['7,500 ', ''],
 ['45,000 ', ''],
 ['38,000 ', ''],
 ['30,000 ', ''],
 ['35,000 ', ''],
 ['24,330 ', ''],
 ['65,480 ', ''],
 ['41,000 ', ''],
 ['20,000 ', ''],
 ['28,028 ', ''],
 ['2,00,000 ', ''],
 ['70,000 ', ''],
 ['59,000 ', ''],
 ['99,000 ', ''],
 ['46,000 ', ''],
 ['2,800 ', ''],
 ['32,000 ', ''],
 ['22,000 ', ''],
 ['50,000 ', ''],
 ['22,000 ', ''],
 ['45,000 ', ''],
 ['21,000 ', ''],
 ['11,000 ', ''],
 ['41,000 ', ''],
 ['39,000 ', ''],
 ['50,000 ', ''],
 ['66,000 ', ''],
 ['3,000 ', ''],
 ['45,000 ', ''],
 ['7,000 ', ''],
 ['38,500 ', ''],
 ['37,200 ', ''],
 ['43,200 ', ''],
 ['24,800 ', ''],
 ['60,000 ', ''],
 ['45,872 ', ''],
 ['40,000 ', ''],
 ['45,000 ', ''],
 ['38,000 ', ''],
 ['50,000 ', ''],
 ['11,400 ', ''],
 ['42,000 ', ''],
 ['39,000 ', ''],
 ['47,000 ', ''],
 ['27,000 ', ''],
 ['97,200 ', ''],
 ['52,000 ', ''],
 ['30,000 ', ''],
 ['55,000 ', ''],
 ['46,000 ', ''],
 ['30,000 ', ''],
 ['44,000 ', ''],
 ['45,000 ', ''],
 ['31,000 ', ''],
 ['1,75,430 ', ''],
 ['38,000 ', ''],
 ['37,000 ', ''],
 ['65,000 ', ''],
 ['38,200 ', ''],
 ['13,000 ', ''],
 ['7,500 ', ''],
 ['3,350 ', ''],
 ['60,000 ', ''],
 ['54,000 ', ''],
 ['32,000 ', ''],
 ['75,000 ', ''],
 ['62,000 ', ''],
 ['73,000 ', ''],
 ['41,000 ', ''],
 ['35,000 ', ''],
 ['2,200 ', ''],
 ['39,000 ', ''],
 ['45,000 ', ''],
 ['45,000 ', ''],
 ['65,000 ', ''],
 ['54,870 ', ''],
 ['34,580 ', ''],
 ['97,000 ', ''],
 ['25,000 ', ''],
 ['20,000 ', ''],
 ['20,000 ', ''],
 ['18,000 ', ''],
 ['35,000 ', ''],
 ['60 ', ''],
 ['35,000 ', ''],
 ['80,200 ', ''],
 ['3,200 ', ''],
 ['46,000 ', ''],
 ['0,000 ', ''],
 ['5,000 ', ''],
 ['588 ', ''],
 ['36,000 ', ''],
 ['38,000 ', ''],
 ['45,000 ', ''],
 ['71,200 ', ''],
 ['52,000 ', ''],
 ['29,000 ', ''],
 ['47,000 ', ''],
 ['47,000 ', ''],
 ['20,000 ', ''],
 ['30,000 ', ''],
 ['5,000 ', ''],
 ['35,000 ', ''],
 ['31,000 ', ''],
 ['7,000 ', ''],
 ['1,75,430 ', ''],
 ['1,75,400 ', ''],
 ['41,000 ', ''],
 ['33,000 ', ''],
 ['46,000 ', ''],
 ['45,000 ', ''],
 ['39,000 ', ''],
 ['22,000 ', ''],
 ['47,000 ', ''],
 ['3,200 ', ''],
 ['30,000 ', ''],
 ['37,000 ', ''],
 ['13,000 ', ''],
 ['14,000 ', ''],
 ['55,000 ', ''],
 ['46,000 ', ''],
 ['30,000 ', ''],
 ['50,000 ', ''],
 ['45,000 ', ''],
 ['45,000 ', ''],
 ['9,300 ', ''],
 ['55,000 ', ''],
 ['36,200 ', ''],
 ['50,000 ', ''],
 ['55,000 ', ''],
 ['45,000 ', ''],
 ['51,000 ', ''],
 ['19,000 ', ''],
 ['46,000 ', ''],
 ['33,000 ', ''],
 ['36,000 ', ''],
 ['22,000 ', ''],
 ['13,500 ', ''],
 ['60,000 ', ''],
 ['27,000 ', ''],
 ['59,000 ', ''],
 ['19,000 ', ''],
 ['30,000 ', ''],
 ['15,000 ', ''],
 ['56,758 ', ''],
 ['10,000 ', ''],
 ['20,000 ', ''],
 ['49,000 ', ''],
 ['41,000 ', ''],
 ['45,000 ', ''],
 ['43,000 ', ''],
 ['1,75,430 ', ''],
 ['56,450 ', ''],
 ['38,000 ', ''],
 ['56,000 ', ''],
 ['37,000 ', ''],
 ['65,000 ', ''],
 ['32,700 ', ''],
 ['38,200 ', ''],
 ['30,000 ', ''],
 ['56,000 ', ''],
 ['52,000 ', ''],
 ['9,000 ', ''],
 ['13,000 ', ''],
 ['13,000 ', ''],
 ['11,000 ', ''],
 ['13,000 ', ''],
 ['46,000 ', ''],
 ['73 ', ''],
 ['1,60,000 ', ''],
 ['84,000 ', ''],
 ['58,559 ', ''],
 ['30,000 ', ''],
 ['55,000 ', ''],
 ['57,000 ', ''],
 ['50,000 ', ''],
 ['37,000 ', ''],
 ['40,000 ', ''],
 ['55,000 ', ''],
 ['1,70,000 ', ''],
 ['55,000 ', ''],
 ['39,000 ', ''],
 ['44,000 ', ''],
 ['65,000 ', ''],
 ['39,000 ', ''],
 ['44,000 ', ''],
 ['49,000 ', ''],
 ['9,000 ', ''],
 ['45,000 ', ''],
 ['47,000 ', ''],
 ['40,000 ', ''],
 ['29,000 ', ''],
 ['15,000 ', ''],
 ['45,000 ', ''],
 ['35,000 ', ''],
 ['80,000 ', ''],
 ['68,000 ', ''],
 ['50,000 ', ''],
 ['60,000 ', ''],
 ['9,000 ', ''],
 ['72,000 ', ''],
 ['60,000 ', ''],
 ['38,000 ', ''],
 ['45,000 ', ''],
 ['40,000 ', ''],
 ['20,000 ', ''],
 ['35,000 ', ''],
 ['20,000 ', ''],
 ['25,000 ', ''],
 ['20,000 ', ''],
 ['20,000 ', ''],
 ['18,000 ', ''],
 ['35,000 ', ''],
 ['6,821 ', ''],
 ['23,000 ', ''],
 ['14,000 ', ''],
 ['38,000 ', ''],
 ['35,000 ', ''],
 ['22,000 ', ''],
 ['41,000 ', ''],
 ['45,000 ', ''],
 ['44,000 ', ''],
 ['45,000 ', ''],
 ['52,000 ', ''],
 ['34,000 ', ''],
 ['1,800 ', ''],
 ['15,000 ', ''],
 ['4,00,000 ', ''],
 ['44,000 ', ''],
 ['60 ', ''],
 ['35,000 ', ''],
 ['72,000 ', ''],
 ['40,000 ', ''],
 ['80,200 ', ''],
 ['3,200 ', ''],
 ['48,000 ', ''],
 ['90,000 ', ''],
 ['12,000 ', ''],
 ['46,000 ', ''],
 ['69,900 ', ''],
 ['0,000 ', ''],
 ['45,000 ', ''],
 ['5,000 ', ''],
 ['1,66,000 ', ''],
 ['42,000 ', ''],
 ['588 ', ''],
 ['122 ', ''],
 ['62,000 ', ''],
 ['70,000 ', ''],
 ['36,000 ', ''],
 ['0 ', ''],
 ['24,000 ', ''],
 ['55,000 ', ''],
 ['36,000 ', ''],
 ['38,000 ', ''],
 ['55,000 ', ''],
 ['20,000 ', ''],
 ['40,000 ', ''],
 ['50,000 ', ''],
 ['1,04,000 ', ''],
 ['65,000 ', ''],
 ['41,000 ', ''],
 ['90,000 ', ''],
 ['80,000 ', ''],
 ['46,000 ', ''],
 ['70,000 ', ''],
 ['36,469 ', ''],
 ['7,800 ', ''],
 ['65,000 ', ''],
 ['60,000 ', ''],
 ['32,000 ', ''],
 ['24,695 ', ''],
 ['15,141 ', ''],
 ['40,000 ', ''],
 ['65,000 ', ''],
 ['22,000 ', ''],
 ['59,910 ', ''],
 ['1,00,000 ', ''],
 ['25,000 ', ''],
 ['35,000 ', ''],
 ['65,000 ', ''],
 ['35,000 ', ''],
 ['33,000 ', ''],
 ['68,000 ', ''],
 ['23,000 ', ''],
 ['4,500 ', ''],
 ['1,29,000 ', ''],
 ['300 ', ''],
 ['5,000 ', ''],
 ['65,000 ', ''],
 ['1,31,000 ', ''],
 ['1,11,111 ', ''],
 ['14,000 ', ''],
 ['22,000 ', ''],
 ['38,000 ', ''],
 ['70,000 ', ''],
 ['36,000 ', ''],
 ['34,000 ', ''],
 ['43,000 ', ''],
 ['40,000 ', ''],
 ['1,60,000 ', ''],
 ['12,000 ', ''],
 ['49,000 ', ''],
 ['68,000 ', ''],
 ['37,000 ', ''],
 ['59,466 ', ''],
 ['16,000 ', ''],
 ['97,200 ', ''],
 ['99,000 ', ''],
 ['25,500 ', ''],
 ['66,000 ', ''],
 ['44,005 ', ''],
 ['35,000 ', ''],
 ['35,000 ', ''],
 ['28,000 ', ''],
 ['30,000 ', ''],
 ['4,000 ', ''],
 ['28,000 ', ''],
 ['75,000 ', ''],
 ['97,200 ', ''],
 ['3,000 ', ''],
 ['20,000 ', ''],
 ['50,000 ', ''],
 ['2,110 ', ''],
 ['43,222 ', ''],
 ['1,00,200 ', ''],
 ['1,00,000 ', ''],
 ['65 ', ''],
 ['1,00,000 ', ''],
 ['97,200 ', ''],
 ['97,200 ', ''],
 ['1,40,000 ', ''],
 ['55,000 ', ''],
 ['48,000 ', ''],
 ['22,000 ', ''],
 ['1,03,553 ', ''],
 ['80,000 ', ''],
 ['99,000 ', ''],
 ['58,000 ', ''],
 ['70,000 ', ''],
 ['1,20,000 ', ''],
 ['49,800 ', ''],
 ['100 ', ''],
 ['81,876 ', ''],
 ['75,000 ', ''],
 ['50,000 ', ''],
 ['44,000 ', ''],
 ['55,000 ', ''],
 ['36,000 ', ''],
 ['56,000 ', ''],
 ['62,000 ', ''],
 ['1,20,000 ', ''],
 ['6,020 ', ''],
 ['55,700 ', ''],
 ['42,000 ', ''],
 ['50,000 ', ''],
 ['35,000 ', ''],
 ['18,500 ', ''],
 ['7,000 ', ''],
 ['11,000 ', ''],
 ['1,80,000 ', ''],
 ['53,000 ', ''],
 ['23,000 ', ''],
 ['35,500 ', ''],
 ['22,134 ', ''],
 ['1,000 ', ''],
 ['9,000 ', ''],
 ['8,500 ', ''],
 ['35,000 ', ''],
 ['35,000 ', ''],
 ['22,000 ', ''],
 ['25,000 ', ''],
 ['40,000 ', ''],
 ['20,000 ', ''],
 ['87,000 ', ''],
 ['55,000 ', ''],
 ['23,000 ', ''],
 ['6,000 ', ''],
 ['65,000 ', ''],
 ['25,000 ', ''],
 ['39,000 ', ''],
 ['15,574 ', ''],
 ['8,000 ', ''],
 ['75,000 ', ''],
 ['51,000 ', ''],
 ['50,000 ', ''],
 ['75,000 ', ''],
 ['55,800 ', ''],
 ['53,000 ', ''],
 ['25,000 ', ''],
 ['56,400 ', ''],
 ['72,160 ', ''],
 ['10,000 ', ''],
 ['48,000 ', ''],
 ['36,000 ', ''],
 ['11,500 ', ''],
 ['1,33,000 ', ''],
 ['27,000 ', ''],
 ['35,000 ', ''],
 ['55,000 ', ''],
 ['40,000 ', ''],
 ['2,000 ', ''],
 ['45,000 ', ''],
 ['20,000 ', ''],
 ['88,000 ', ''],
 ['20,000 ', ''],
 ['65,422 ', ''],
 ['10,000 ', ''],
 ['35,000 ', ''],
 ['1,17,000 ', ''],
 ['1,50,000 ', ''],
 ['72,000 ', ''],
 ['10,750 ', ''],
 ['55,000 ', ''],
 ['6,800 ', ''],
 ['41,000 ', ''],
 ['73,000 ', ''],
 ['65,000 ', ''],
 ['45,000 ', ''],
 ['40,000 ', ''],
 ['37,000 ', ''],
 ['55,000 ', ''],
 ['1,40,000 ', ''],
 ['5 ', ''],
 ['9,800 ', ''],
 ['27,000 ', ''],
 ['27,000 ', ''],
 ['20,000 ', ''],
 ['57,923 ', ''],
 ['30,201 ', ''],
 ['6,200 ', ''],
 ['37,518 ', ''],
 ['24,652 ', ''],
 ['383 ', ''],
 ['95,000 ', ''],
 ['35,000 ', ''],
 ['3,528 ', ''],
 ['52,500 ', ''],
 ['47,900 ', ''],
 ['14,000 ', ''],
 ['37,000 ', ''],
 ['90,000 ', ''],
 ['52,800 ', ''],
 ['1,04,000 ', ''],
 ['30,000 ', ''],
 ['1,95,000 ', ''],
 ['1,04,000 ', ''],
 ['1,04,000 ', ''],
 ['70,000 ', ''],
 ['43,000 ', ''],
 ['23,000 ', ''],
 ['51,000 ', ''],
 ['62,000 ', ''],
 ['48,008 ', ''],
 ['39,000 ', ''],
 ['40,000 ', ''],
 ['48,247 ', ''],
 ['39,000 ', ''],
 ['23,000 ', ''],
 ['9,400 ', ''],
 ['50,000 ', ''],
 ['75,000 ', ''],
 ['70,000 ', ''],
 ['64,000 ', ''],
 ['55,000 ', ''],
 ['2,00,000 ', ''],
 ['7,500 ', ''],
 ['2,137 ', ''],
 ['30,000 ', ''],
 ['44,000 ', ''],
 ['56,000 ', ''],
 ['65,000 ', ''],
 ['1,60,000 ', ''],
 ['56,000 ', ''],
 ['75,000 ', ''],
 ['42,000 ', ''],
 ['75,000 ', ''],
 ['56,000 ', ''],
 ['10,544 ', ''],
 ['64,000 ', ''],
 ['70,000 ', ''],
 ['25,000 ', ''],
 ['15,000 ', ''],
 ['50,000 ', ''],
 ['49,500 ', ''],
 ['1,47,000 ', ''],
 ['52,000 ', ''],
 ['90,001 ', ''],
 ['21,000 ', ''],
 ['48,006 ', ''],
 ['48,006 ', ''],
 ['48,006 ', ''],
 ['80,000 ', ''],
 ['74,000 ', ''],
 ['22,000 ', ''],
 ['41,000 ', ''],
 ['25,000 ', ''],
 ['85,000 ', ''],
 ['29,500 ', ''],
 ['30,000 ', ''],
 ['57,000 ', ''],
 ['60,000 ', ''],
 ['50,000 ', ''],
 ['39,700 ', ''],
 ['65,000 ', ''],
 ['67,000 ', ''],
 ['46,000 ', ''],
 ['38,000 ', ''],
 ['27,000 ', ''],
 ['43,000 ', ''],
 ['47,000 ', ''],
 ['42,000 ', ''],
 ['19,336 ', ''],
 ['60,105 ', ''],
 ['29,000 ', ''],
 ['34,000 ', ''],
 ['35,000 ', ''],
 ['22,000 ', ''],
 ['41,000 ', ''],
 ['21,000 ', ''],
 ['48,000 ', ''],
 ['38,000 ', ''],
 ['34,000 ', ''],
 ['45,933 ', ''],
 ['68,000 ', ''],
 ['44,000 ', ''],
 ['35,000 ', ''],
 ['1,02,563 ', ''],
 ['28,600 ', ''],
 ['41,800 ', ''],
 ['1,16,000 ', ''],
 ['59,000 ', ''],
 ['58,000 ', ''],
 ['45,000 ', ''],
 ['42,590 ', ''],
 ['7,400 ', ''],
 ['54,500 ', ''],
 ['2,00,000 ', ''],
 ['27,000 ', ''],
 ['42,000 ', ''],
 ['29,000 ', ''],
 ['37,000 ', ''],
 ['36,000 ', ''],
 ['34,000 ', ''],
 ['7,000 ', ''],
 ['76,000 ', ''],
 ['60,000 ', ''],
 ['95,000 ', ''],
 ['50,000 ', ''],
 ['00 ', ''],
 ['50,000 ', ''],
 ['68,000 ', ''],
 ['16,000 ', ''],
 ['51,000 ', ''],
 ['56,000 ', ''],
 ['1,00,000 ', ''],
 ['36,000 ', ''],
 ['11,523 ', ''],
 ['1,000 ', ''],
 ['60,000 ', ''],
 ['85,000 ', ''],
 ['38,600 ', ''],
 ['95,500 ', ''],
 ['56,000 ', ''],
 ['37,458 ', ''],
 ['85,960 ', ''],
 ['12,516 ', ''],
 ['35,000 ', ''],
 ['00 ', ''],
 ['80,000 ', ''],
 ['45,000 ', ''],
 ['51,000 ', ''],
 ['30,000 ', ''],
 ['48,000 ', ''],
 ['51,000 ', ''],
 ['90,000 ', ''],
 ['43,000 ', ''],
 ['53,000 ', ''],
 ['97,000 ', ''],
 ['20,000 ', ''],
 ['55,000 ', ''],
 ['1,20,000 ', ''],
 ['0 ', ''],
 ['46,000 ', ''],
 ['43,200 ', ''],
 ['56,000 ', ''],
 ['42,000 ', ''],
 ['30,600 ', ''],
 ['38,000 ', ''],
 ['2,550 ', ''],
 ['47,000 ', ''],
 ['41,000 ', ''],
 ['62,500 ', ''],
 ['68,000 ', ''],
 ['50,000 ', ''],
 ['69,000 ', ''],
 ['48,000 ', ''],
 ['55,000 ', ''],
 ['25,000 ', ''],
 ['28,400 ', ''],
 ['28,000 ', ''],
 ['42,000 ', ''],
 ['29,000 ', ''],
 ['68,485 ', ''],
 ['3,500 ', ''],
 ['0 ', ''],
 ['0 ', ''],
 ['32,000 ', ''],
 ['8,000 ', ''],
 ['34,000 ', ''],
 ['37,000 ', ''],
 ['85,455 ', ''],
 ['46,000 ', ''],
 ['47,000 ', ''],
 ['64,000 ', ''],
 ['46,000 ', ''],
 ['8,000 ', ''],
 ['64,000 ', ''],
 ['63,000 ', ''],
 ['65,000 ', ''],
 ['62,000 ', ''],
 ['41,000 ', ''],
 ['14,000 ', ''],
 ['40,000 ', ''],
 ['1,600 ', ''],
 ['90,000 ', ''],
 ['58,000 ', ''],
 ['27,000 ', ''],
 ['60,000 ', ''],
 ['31,000 ', ''],
 ['90,000 ', ''],
 ['90,000 ', ''],
 ['1,50,000 ', ''],
 ['31,000 ', ''],
 ['43,000 ', ''],
 ['20,000 ', ''],
 ['1,00,000 ', ''],
 ['7,000 ', ''],
 ['31,000 ', ''],
 ['33,000 ', ''],
 ['60,000 ', ''],
 ['48,000 ', ''],
 ['33,000 ', ''],
 ['15,000 ', ''],
 ['47,000 ', ''],
 ['40,000 ', ''],
 ['7,000 ', ''],
 ['38,000 ', ''],
 ['12,500 ', ''],
 ['42,000 ', ''],
 ['20,000 ', ''],
 ['31,000 ', ''],
 ['60,000 ', ''],
 ['80,000 ', ''],
 ['77,000 ', ''],
 ['75,000 ', ''],
 ['40,000 ', ''],
 ['47,000 ', ''],
 ['60,000 ', ''],
 ['26,500 ', ''],
 ['2,875 ', ''],
 ['13,900 ', ''],
 ['9,000 ', ''],
 ['80,000 ', ''],
 ['60,000 ', ''],
 ['20,000 ', ''],
 ['58,000 ', ''],
 ['1,500 ', ''],
 ['75,000 ', ''],
 ['2,450 ', ''],
 ['1,625 ', ''],
 ['1,500 ', ''],
 ['45,000 ', ''],
 ['65,000 ', ''],
 ['33,400 ', ''],
 ['60,123 ', ''],
 ['28,000 ', ''],
 ['38,900 ', ''],
 ['70,000 ', ''],
 ['7,000 ', ''],
 ['25,000 ', ''],
 ['1,00,000 ', ''],
 ['4,000 ', ''],
 ['42,000 ', ''],
 ['20,000 ', ''],
 ['1,00,000 ', ''],
 ['1,37,495 ', ''],
 ['91,200 ', ''],
 ['55,000 ', ''],
 ['1,20,000 ', ''],
 ['63,000 ', ''],
 ['1,04,000 ', ''],
 ['1,46,000 ', ''],
 ['40,000 ', ''],
 ['40,000 ', ''],
 ['1,00,800 ', ''],
 ['1,50,000 ', ''],
 ['2,100 ', ''],
 ['95,000 ', ''],
 ['2,500 ', ''],
 ['80,000 ', ''],
 ['15,000 ', ''],
 ['65,000 ', ''],
 ['51,000 ', ''],
 ['45,000 ', ''],
 ['70,000 ', ''],
 ['50,000 ', ''],
 ['30,000 ', ''],
 ['1,32,000 ', ''],
 ['27,000 ', ''],
 ['40,000 ', '']]

In [93]:
kms_p=[]
for i in range(len(kms)):
    kms_p.append(int(kms[i][0].replace(",","")))
    # kms_p.append
kms_p

[45000,
 40,
 22000,
 28000,
 36000,
 59000,
 41000,
 25000,
 24530,
 60000,
 60000,
 30000,
 32000,
 48660,
 45000,
 40,
 4000,
 16934,
 43000,
 35550,
 43000,
 39522,
 39000,
 55000,
 55000,
 55000,
 72000,
 15975,
 70000,
 23452,
 35522,
 48508,
 15487,
 39000,
 39000,
 82000,
 20000,
 68000,
 32000,
 38000,
 27000,
 33000,
 60000,
 46000,
 46000,
 36000,
 55000,
 16000,
 36000,
 47000,
 23452,
 35522,
 48508,
 15487,
 39000,
 39000,
 35000,
 30874,
 15000,
 29685,
 41000,
 25000,
 130000,
 24530,
 130000,
 19000,
 60000,
 60000,
 30000,
 41000,
 35000,
 54000,
 13000,
 16000,
 38200,
 22000,
 22000,
 50000,
 13500,
 30000,
 50000,
 20000,
 39000,
 30000,
 3600,
 32000,
 38000,
 45000,
 35000,
 50000,
 32000,
 45863,
 60500,
 12500,
 60000,
 35000,
 35000,
 45000,
 35000,
 38000,
 18000,
 35000,
 13349,
 29000,
 44000,
 29000,
 42000,
 14000,
 49000,
 42000,
 36200,
 50000,
 55000,
 45000,
 51000,
 19000,
 46000,
 33000,
 13349,
 104000,
 55000,
 33333,
 33600,
 5600,
 41000,
 70000,
 7500,
 45000,
 38000,
 30000,
 35000,
 24330,
 65480,
 41000,
 20000,
 28028,
 200000,
 70000,
 59000,
 99000,
 46000,
 2800,
 32000,
 22000,
 50000,
 22000,
 45000,
 21000,
 11000,
 41000,
 39000,
 50000,
 66000,
 3000,
 45000,
 7000,
 38500,
 37200,
 43200,
 24800,
 60000,
 45872,
 40000,
 45000,
 38000,
 50000,
 11400,
 42000,
 39000,
 47000,
 27000,
 97200,
 52000,
 30000,
 55000,
 46000,
 30000,
 44000,
 45000,
 31000,
 175430,
 38000,
 37000,
 65000,
 38200,
 13000,
 7500,
 3350,
 60000,
 54000,
 32000,
 75000,
 62000,
 73000,
 41000,
 35000,
 2200,
 39000,
 45000,
 45000,
 65000,
 54870,
 34580,
 97000,
 25000,
 20000,
 20000,
 18000,
 35000,
 60,
 35000,
 80200,
 3200,
 46000,
 0,
 5000,
 588,
 36000,
 38000,
 45000,
 71200,
 52000,
 29000,
 47000,
 47000,
 20000,
 30000,
 5000,
 35000,
 31000,
 7000,
 175430,
 175400,
 41000,
 33000,
 46000,
 45000,
 39000,
 22000,
 47000,
 3200,
 30000,
 37000,
 13000,
 14000,
 55000,
 46000,
 30000,
 50000,
 45000,
 45000,
 9300,
 55000,
 36200,
 50000,
 55000,
 45000,
 51000,
 19000,
 46000,
 33000,
 36000,
 22000,
 13500,
 60000,
 27000,
 59000,
 19000,
 30000,
 15000,
 56758,
 10000,
 20000,
 49000,
 41000,
 45000,
 43000,
 175430,
 56450,
 38000,
 56000,
 37000,
 65000,
 32700,
 38200,
 30000,
 56000,
 52000,
 9000,
 13000,
 13000,
 11000,
 13000,
 46000,
 73,
 160000,
 84000,
 58559,
 30000,
 55000,
 57000,
 50000,
 37000,
 40000,
 55000,
 170000,
 55000,
 39000,
 44000,
 65000,
 39000,
 44000,
 49000,
 9000,
 45000,
 47000,
 40000,
 29000,
 15000,
 45000,
 35000,
 80000,
 68000,
 50000,
 60000,
 9000,
 72000,
 60000,
 38000,
 45000,
 40000,
 20000,
 35000,
 20000,
 25000,
 20000,
 20000,
 18000,
 35000,
 6821,
 23000,
 14000,
 38000,
 35000,
 22000,
 41000,
 45000,
 44000,
 45000,
 52000,
 34000,
 1800,
 15000,
 400000,
 44000,
 60,
 35000,
 72000,
 40000,
 80200,
 3200,
 48000,
 90000,
 12000,
 46000,
 69900,
 0,
 45000,
 5000,
 166000,
 42000,
 588,
 122,
 62000,
 70000,
 36000,
 0,
 24000,
 55000,
 36000,
 38000,
 55000,
 20000,
 40000,
 50000,
 104000,
 65000,
 41000,
 90000,
 80000,
 46000,
 70000,
 36469,
 7800,
 65000,
 60000,
 32000,
 24695,
 15141,
 40000,
 65000,
 22000,
 59910,
 100000,
 25000,
 35000,
 65000,
 35000,
 33000,
 68000,
 23000,
 4500,
 129000,
 300,
 5000,
 65000,
 131000,
 111111,
 14000,
 22000,
 38000,
 70000,
 36000,
 34000,
 43000,
 40000,
 160000,
 12000,
 49000,
 68000,
 37000,
 59466,
 16000,
 97200,
 99000,
 25500,
 66000,
 44005,
 35000,
 35000,
 28000,
 30000,
 4000,
 28000,
 75000,
 97200,
 3000,
 20000,
 50000,
 2110,
 43222,
 100200,
 100000,
 65,
 100000,
 97200,
 97200,
 140000,
 55000,
 48000,
 22000,
 103553,
 80000,
 99000,
 58000,
 70000,
 120000,
 49800,
 100,
 81876,
 75000,
 50000,
 44000,
 55000,
 36000,
 56000,
 62000,
 120000,
 6020,
 55700,
 42000,
 50000,
 35000,
 18500,
 7000,
 11000,
 180000,
 53000,
 23000,
 35500,
 22134,
 1000,
 9000,
 8500,
 35000,
 35000,
 22000,
 25000,
 40000,
 20000,
 87000,
 55000,
 23000,
 6000,
 65000,
 25000,
 39000,
 15574,
 8000,
 75000,
 51000,
 50000,
 75000,
 55800,
 53000,
 25000,
 56400,
 72160,
 10000,
 48000,
 36000,
 11500,
 133000,
 27000,
 35000,
 55000,
 40000,
 2000,
 45000,
 20000,
 88000,
 20000,
 65422,
 10000,
 35000,
 117000,
 150000,
 72000,
 10750,
 55000,
 6800,
 41000,
 73000,
 65000,
 45000,
 40000,
 37000,
 55000,
 140000,
 5,
 9800,
 27000,
 27000,
 20000,
 57923,
 30201,
 6200,
 37518,
 24652,
 383,
 95000,
 35000,
 3528,
 52500,
 47900,
 14000,
 37000,
 90000,
 52800,
 104000,
 30000,
 195000,
 104000,
 104000,
 70000,
 43000,
 23000,
 51000,
 62000,
 48008,
 39000,
 40000,
 48247,
 39000,
 23000,
 9400,
 50000,
 75000,
 70000,
 64000,
 55000,
 200000,
 7500,
 2137,
 30000,
 44000,
 56000,
 65000,
 160000,
 56000,
 75000,
 42000,
 75000,
 56000,
 10544,
 64000,
 70000,
 25000,
 15000,
 50000,
 49500,
 147000,
 52000,
 90001,
 21000,
 48006,
 48006,
 48006,
 80000,
 74000,
 22000,
 41000,
 25000,
 85000,
 29500,
 30000,
 57000,
 60000,
 50000,
 39700,
 65000,
 67000,
 46000,
 38000,
 27000,
 43000,
 47000,
 42000,
 19336,
 60105,
 29000,
 34000,
 35000,
 22000,
 41000,
 21000,
 48000,
 38000,
 34000,
 45933,
 68000,
 44000,
 35000,
 102563,
 28600,
 41800,
 116000,
 59000,
 58000,
 45000,
 42590,
 7400,
 54500,
 200000,
 27000,
 42000,
 29000,
 37000,
 36000,
 34000,
 7000,
 76000,
 60000,
 95000,
 50000,
 0,
 50000,
 68000,
 16000,
 51000,
 56000,
 100000,
 36000,
 11523,
 1000,
 60000,
 85000,
 38600,
 95500,
 56000,
 37458,
 85960,
 12516,
 35000,
 0,
 80000,
 45000,
 51000,
 30000,
 48000,
 51000,
 90000,
 43000,
 53000,
 97000,
 20000,
 55000,
 120000,
 0,
 46000,
 43200,
 56000,
 42000,
 30600,
 38000,
 2550,
 47000,
 41000,
 62500,
 68000,
 50000,
 69000,
 48000,
 55000,
 25000,
 28400,
 28000,
 42000,
 29000,
 68485,
 3500,
 0,
 0,
 32000,
 8000,
 34000,
 37000,
 85455,
 46000,
 47000,
 64000,
 46000,
 8000,
 64000,
 63000,
 65000,
 62000,
 41000,
 14000,
 40000,
 1600,
 90000,
 58000,
 27000,
 60000,
 31000,
 90000,
 90000,
 150000,
 31000,
 43000,
 20000,
 100000,
 7000,
 31000,
 33000,
 60000,
 48000,
 33000,
 15000,
 47000,
 40000,
 7000,
 38000,
 12500,
 42000,
 20000,
 31000,
 60000,
 80000,
 77000,
 75000,
 40000,
 47000,
 60000,
 26500,
 2875,
 13900,
 9000,
 80000,
 60000,
 20000,
 58000,
 1500,
 75000,
 2450,
 1625,
 1500,
 45000,
 65000,
 33400,
 60123,
 28000,
 38900,
 70000,
 7000,
 25000,
 100000,
 4000,
 42000,
 20000,
 100000,
 137495,
 91200,
 55000,
 120000,
 63000,
 104000,
 146000,
 40000,
 40000,
 100800,
 150000,
 2100,
 95000,
 2500,
 80000,
 15000,
 65000,
 51000,
 45000,
 70000,
 50000,
 30000,
 132000,
 27000,
 40000]

In [94]:
car['kms_driven']=kms_p

/var/folders/pj/6d53jbf941v4yyyzccgm4wp00000gn/T/ipykernel_1118/1367964135.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['kms_driven']=kms_p

In [95]:
car

     name  company  year          Price  kms_driven  fuel_type
0       0        0  2007         80,000       45000          0
1       1        1  2006       4,25,000          40          1
2       2        2  2018  Ask For Price       22000          0
3       3        0  2014       3,25,000       28000          0
4       4        3  2014       5,75,000       36000          1
..    ...      ...   ...            ...         ...        ...
883   470        2  2011       2,70,000       50000          0
885   471       11  2009       1,10,000       30000          1
886   194        6  2009       3,00,000      132000          0
888   472       11  2018       2,60,000       27000          1
889    53        1  2013       3,90,000       40000          1

[837 rows x 6 columns]

In [96]:
car=car[car['Price']!='Ask For Price']
car["Price"]

0        80,000
1      4,25,000
3      3,25,000
4      5,75,000
6      1,75,000
         ...
883    2,70,000
885    1,10,000
886    3,00,000
888    2,60,000
889    3,90,000
Name: Price, Length: 816, dtype: object

In [97]:
price=[]
for i in car['Price']:
    price.append(int(i.replace(",","")))
price

[80000,
 425000,
 325000,
 575000,
 175000,
 190000,
 830000,
 250000,
 182000,
 315000,
 415000,
 320000,
 80000,
 425000,
 1000000,
 500000,
 350000,
 160000,
 350000,
 310000,
 75000,
 100000,
 100000,
 100000,
 190000,
 290000,
 95000,
 180000,
 385000,
 250000,
 180000,
 105000,
 105000,
 650000,
 689999,
 448000,
 549000,
 501000,
 489999,
 280000,
 250000,
 349999,
 284999,
 345000,
 499999,
 235000,
 249999,
 1475000,
 180000,
 385000,
 250000,
 180000,
 105000,
 105000,
 395000,
 220000,
 170000,
 85000,
 175000,
 190000,
 200000,
 830000,
 200000,
 570000,
 315000,
 182000,
 315000,
 110000,
 501000,
 448999,
 1891111,
 235000,
 159500,
 344999,
 344999,
 449999,
 1891111,
 865000,
 699000,
 375000,
 489999,
 224999,
 1200000,
 195000,
 351000,
 160000,
 240000,
 90000,
 415000,
 155000,
 600000,
 189500,
 350000,
 210000,
 390000,
 135000,
 1600000,
 701000,
 265000,
 525000,
 372000,
 635000,
 550000,
 575000,
 485000,
 155000,
 345000,
 325000,
 329500,
 195000,
 251111,
 569999,
 69999,
 299999,
 220000,
 399999,
 372000,
 450000,
 270000,
 350000,
 158400,
 350000,
 179000,
 125000,
 200000,
 299000,
 220000,
 150000,
 285000,
 830000,
 210000,
 340000,
 90000,
 70000,
 289999,
 349999,
 849999,
 749999,
 399999,
 274999,
 984999,
 449999,
 344999,
 224999,
 599999,
 244999,
 399999,
 489999,
 474999,
 499999,
 310000,
 85000,
 245000,
 189500,
 169500,
 159500,
 275000,
 370000,
 168000,
 150000,
 145000,
 98500,
 699000,
 85000,
 575000,
 549000,
 209000,
 185000,
 900000,
 699999,
 224999,
 274999,
 284999,
 599999,
 199999,
 544999,
 199000,
 320000,
 540000,
 340000,
 75000,
 159500,
 1891111,
 49000,
 700000,
 55000,
 448999,
 895000,
 355000,
 565000,
 365000,
 145000,
 210000,
 40000,
 125000,
 135000,
 135000,
 285000,
 145000,
 135000,
 450000,
 375000,
 375000,
 365000,
 500000,
 400000,
 390000,
 501000,
 330000,
 580000,
 265000,
 379000,
 219000,
 385000,
 275000,
 330000,
 110000,
 80000,
 519000,
 730000,
 1475000,
 699000,
 2000000,
 2100000,
 340000,
 390000,
 1400000,
 245000,
 320000,
 320000,
 450000,
 311000,
 284999,
 399999,
 599999,
 344999,
 699000,
 580000,
 855000,
 535000,
 1891111,
 699000,
 375000,
 284999,
 178000,
 300000,
 90000,
 95000,
 255000,
 245000,
 329500,
 195000,
 251111,
 569999,
 69999,
 299999,
 220000,
 399999,
 249999,
 289999,
 1891111,
 499999,
 489999,
 489999,
 549999,
 380000,
 325000,
 57000,
 349999,
 689999,
 349999,
 410000,
 225000,
 120000,
 320000,
 59000,
 540000,
 80000,
 340000,
 75000,
 220000,
 159500,
 599000,
 80000,
 675000,
 1891111,
 1891111,
 150000,
 1891111,
 72500,
 610000,
 230000,
 175000,
 855000,
 375000,
 520000,
 524999,
 299999,
 299999,
 284999,
 220000,
 424999,
 644999,
 399999,
 199999,
 584999,
 349999,
 449999,
 799999,
 444999,
 649999,
 444999,
 689999,
 344999,
 944999,
 274999,
 689999,
 574999,
 374999,
 199999,
 549999,
 130000,
 210000,
 501000,
 401000,
 1350000,
 600000,
 610000,
 400000,
 375000,
 375000,
 365000,
 500000,
 400000,
 524999,
 449999,
 174999,
 244999,
 574999,
 244999,
 239999,
 99999,
 489999,
 324999,
 1074999,
 230000,
 699000,
 1000000,
 240000,
 110000,
 390000,
 501000,
 1130000,
 250000,
 330000,
 580000,
 340000,
 120000,
 265000,
 265000,
 85000,
 379000,
 175000,
 219000,
 350000,
 149000,
 385000,
 425000,
 150000,
 225000,
 375000,
 770000,
 30000,
 275000,
 330000,
 335000,
 450000,
 225000,
 80000,
 130000,
 245000,
 399000,
 450000,
 65000,
 75000,
 70000,
 190000,
 600000,
 245000,
 240000,
 155000,
 169999,
 450000,
 40000,
 165000,
 270000,
 280000,
 560000,
 950000,
 310000,
 715000,
 340000,
 235000,
 610000,
 95000,
 1000000,
 220000,
 1200000,
 230000,
 45000,
 940000,
 155555,
 1500000,
 210000,
 495000,
 125000,
 195000,
 550000,
 270000,
 500000,
 240000,
 800000,
 1299000,
 530000,
 1499000,
 220000,
 900000,
 250000,
 395000,
 130000,
 32000,
 540000,
 540000,
 405000,
 400000,
 760000,
 500000,
 175000,
 900000,
 750000,
 419000,
 90000,
 140000,
 1540000,
 275000,
 150000,
 230000,
 123000,
 900000,
 900000,
 300000,
 499999,
 165000,
 498000,
 480000,
 488000,
 250000,
 220000,
 290000,
 1525000,
 548900,
 650000,
 55000,
 550000,
 90000,
 399000,
 730000,
 725000,
 195000,
 130000,
 1525000,
 190000,
 250000,
 80000,
 120000,
 149000,
 250000,
 120000,
 450000,
 99999,
 135000,
 225000,
 99000,
 370000,
 52000,
 2800000,
 190000,
 499000,
 90000,
 149000,
 400000,
 120000,
 250000,
 375000,
 381000,
 180000,
 580000,
 278000,
 1000000,
 690000,
 480000,
 85000,
 40000,
 90000,
 340000,
 260000,
 250000,
 180000,
 350000,
 90001,
 115000,
 1599000,
 130000,
 159000,
 160000,
 110000,
 425000,
 900000,
 150000,
 110000,
 51999,
 115000,
 215000,
 580000,
 380000,
 350000,
 35000,
 1150000,
 300000,
 269000,
 60000,
 400000,
 430000,
 140000,
 8500003,
 1299000,
 199000,
 90000,
 550000,
 265000,
 100000,
 215000,
 380000,
 401919,
 490000,
 280000,
 650000,
 160000,
 424000,
 225000,
 350000,
 950000,
 485000,
 205000,
 160000,
 310000,
 180000,
 549900,
 150000,
 175000,
 95000,
 230000,
 230000,
 180000,
 400000,
 185000,
 385000,
 90000,
 32000,
 435000,
 225000,
 189700,
 389700,
 365000,
 360000,
 210000,
 170000,
 380000,
 295000,
 185000,
 160000,
 290000,
 100000,
 315000,
 114990,
 120000,
 125000,
 210000,
 855000,
 210000,
 260000,
 95000,
 255000,
 300000,
 340000,
 550000,
 60000,
 750000,
 230000,
 130000,
 270000,
 280000,
 280000,
 280000,
 600000,
 190000,
 500000,
 1065000,
 350000,
 350000,
 540000,
 470000,
 179000,
 48000,
 650000,
 190000,
 500000,
 270000,
 125000,
 188000,
 380000,
 365000,
 465000,
 240000,
 179999,
 140000,
 2190000,
 2390000,
 1075000,
 475000,
 1025000,
 615000,
 475000,
 270000,
 475000,
 240000,
 120000,
 1900000,
 360000,
 450000,
 900000,
 650000,
 275000,
 210000,
 175000,
 85000,
 1490000,
 800000,
 450000,
 1000000,
 1510000,
 1850000,
 790000,
 1725000,
 135000,
 1000000,
 299999,
 1225000,
 175000,
 200000,
 270000,
 525000,
 180000,
 140000,
 400000,
 499000,
 85000,
 70000,
 550000,
 370000,
 690000,
 250000,
 110000,
 490000,
 320000,
 68000,
 130000,
 970000,
 3100000,
 280000,
 125000,
 285000,
 165000,
 250000,
 865000,
 390000,
 60000,
 215000,
 475000,
 899000,
 1499000,
 240000,
 99000,
 260000,
 1200000,
 115000,
 88000,
 390000,
 135000,
 90000,
 220000,
 424999,
 135000,
 95000,
 430000,
 115000,
 215000,
 53000,
 500000,
 85000,
 165000,
 200000,
 200000,
 425000,
 600000,
 130000,
 430000,
 568500,
 71000,
 560000,
 590000,
 750000,
 125000,
 135000,
 60000,
 120000,
 95000,
 240000,
 115000,
 795000,
 55000,
 300000,
 320000,
 265000,
 160000,
 300000,
 130000,
 250000,
 380000,
 42000,
 400000,
 120000,
 120000,
 130000,
 189000,
 365000,
 170000,
 215000,
 60000,
 599999,
 400000,
 900000,
 299999,
 374999,
 600000,
 70000,
 100000,
 150000,
 225000,
 210000,
 425000,
 162000,
 60000,
 650000,
 750000,
 375000,
 230000,
 35999,
 380000,
 560000,
 285000,
 2900000,
 39999,
 85000,
 395000,
 175000,
 400000,
 750000,
 250000,
 425000,
 525000,
 130000,
 30000,
 475000,
 300000,
 60000,
 100000,
 260000,
 100000,
 265000,
 115000,
 180000,
 45000,
 50500,
 270000,
 290000,
 325000,
 160000,
 350000,
 290000,
 290000,
 465000,
 325000,
 510000,
 860000,
 450000,
 125000,
 500001,
 95000,
 250000,
 110000,
 270000,
 110000,
 300000,
 260000,
 390000]

In [98]:
car['Price']=price

/var/folders/pj/6d53jbf941v4yyyzccgm4wp00000gn/T/ipykernel_1118/2754014057.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['Price']=price

In [99]:
car

     name  company  year   Price  kms_driven  fuel_type
0       0        0  2007   80000       45000          0
1       1        1  2006  425000          40          1
3       3        0  2014  325000       28000          0
4       4        3  2014  575000       36000          1
6       5        3  2012  175000       41000          1
..    ...      ...   ...     ...         ...        ...
883   470        2  2011  270000       50000          0
885   471       11  2009  110000       30000          1
886   194        6  2009  300000      132000          0
888   472       11  2018  260000       27000          1
889    53        1  2013  390000       40000          1

[816 rows x 6 columns]

In [100]:
year=[]
for i in car['year']:
    year.append(int(i))
year

[2007,
 2006,
 2014,
 2014,
 2012,
 2013,
 2016,
 2015,
 2010,
 2015,
 2014,
 2015,
 2007,
 2006,
 2017,
 2014,
 2016,
 2014,
 2016,
 2016,
 2015,
 2012,
 2012,
 2012,
 2017,
 2016,
 2008,
 2017,
 2014,
 2015,
 2017,
 2013,
 2013,
 2012,
 2018,
 2012,
 2017,
 2012,
 2013,
 2011,
 2015,
 2013,
 2013,
 2015,
 2015,
 2017,
 2010,
 2015,
 2017,
 2014,
 2015,
 2017,
 2013,
 2013,
 2015,
 2017,
 2017,
 2013,
 2012,
 2013,
 2017,
 2016,
 2017,
 2012,
 2014,
 2010,
 2015,
 2010,
 2012,
 2015,
 2013,
 2017,
 2011,
 2015,
 2015,
 2014,
 2013,
 2015,
 2014,
 2013,
 2017,
 2012,
 2019,
 2009,
 2010,
 2008,
 2009,
 2005,
 2014,
 2011,
 2011,
 2011,
 2013,
 2012,
 2014,
 2012,
 2009,
 2013,
 2014,
 2015,
 2013,
 2016,
 2014,
 2016,
 2013,
 2012,
 2014,
 2014,
 2012,
 2014,
 2015,
 2014,
 2007,
 2014,
 2009,
 2013,
 2013,
 2015,
 2014,
 2011,
 2012,
 2017,
 2011,
 2007,
 2018,
 2013,
 2015,
 2015,
 2010,
 2016,
 2009,
 2013,
 2006,
 2000,
 2010,
 2012,
 2012,
 2014,
 2015,
 2014,
 2015,
 2014,
 2015,
 2012,
 2018,
 2016,
 2013,
 2017,
 2014,
 2011,
 2018,
 2010,
 2016,
 2010,
 2012,
 2010,
 2013,
 2014,
 2010,
 2011,
 2011,
 2012,
 2014,
 2011,
 2015,
 2014,
 2011,
 2013,
 2015,
 2014,
 2012,
 2011,
 2013,
 2015,
 2012,
 2014,
 2009,
 2016,
 2015,
 2013,
 2008,
 2011,
 2013,
 2005,
 2016,
 2000,
 2015,
 2017,
 2007,
 2012,
 2006,
 2011,
 2011,
 2013,
 2013,
 2009,
 2006,
 2012,
 2010,
 2010,
 2009,
 2015,
 2013,
 2014,
 2015,
 2012,
 2019,
 2012,
 2013,
 2015,
 2012,
 2019,
 2015,
 2018,
 2011,
 2015,
 2008,
 2006,
 2016,
 2016,
 2015,
 2009,
 2015,
 2015,
 2017,
 2014,
 2014,
 2016,
 2016,
 2016,
 2016,
 2014,
 2013,
 2012,
 2015,
 2015,
 2009,
 2015,
 2015,
 2015,
 2013,
 2017,
 2013,
 2013,
 2012,
 2013,
 2003,
 2006,
 2015,
 2013,
 2012,
 2014,
 2015,
 2014,
 2007,
 2014,
 2009,
 2013,
 2010,
 2015,
 2013,
 2015,
 2013,
 2014,
 2015,
 2013,
 2018,
 2003,
 2018,
 2018,
 2014,
 2014,
 2011,
 2010,
 2016,
 2000,
 2015,
 2010,
 2013,
 2008,
 2015,
 2011,
 2016,
 2006,
 2016,
 2013,
 2013,
 2008,
 2013,
 2009,
 2019,
 2004,
 2009,
 2015,
 2013,
 2014,
 2015,
 2014,
 2012,
 2011,
 2007,
 2014,
 2015,
 2014,
 2009,
 2014,
 2012,
 2015,
 2018,
 2015,
 2014,
 2012,
 2016,
 2016,
 2015,
 2014,
 2013,
 2013,
 2013,
 2010,
 2016,
 2012,
 2013,
 2012,
 2013,
 2012,
 2013,
 2013,
 2016,
 2015,
 2013,
 2014,
 2015,
 2012,
 2017,
 2014,
 2014,
 2012,
 2015,
 2017,
 2011,
 2010,
 2014,
 2013,
 2011,
 2012,
 2018,
 2015,
 2010,
 2009,
 2019,
 2012,
 2016,
 2014,
 2013,
 2015,
 2013,
 2011,
 2015,
 2012,
 2003,
 2019,
 2011,
 2015,
 2016,
 2008,
 2018,
 2006,
 2017,
 2010,
 2014,
 2012,
 1995,
 2011,
 2015,
 2014,
 2015,
 2012,
 2004,
 2016,
 2011,
 2002,
 2013,
 2000,
 2006,
 2001,
 2017,
 2018,
 2011,
 2017,
 2011,
 2009,
 2017,
 2001,
 2012,
 2014,
 2016,
 2012,
 2016,
 2013,
 2015,
 2014,
 2012,
 2017,
 2010,
 2018,
 2015,
 2019,
 2015,
 2001,
 2010,
 2010,
 2013,
 2016,
 2013,
 2016,
 2010,
 2015,
 2015,
 2014,
 2016,
 2017,
 2011,
 2011,
 2013,
 2012,
 2015,
 2012,
 2018,
 2009,
 2010,
 2016,
 2016,
 2015,
 2015,
 2017,
 2016,
 2011,
 2015,
 2017,
 2015,
 2004,
 2018,
 2015,
 2008,
 2003,
 2011,
 2015,
 2015,
 2015,
 2016,
 2015,
 2009,
 2016,
 2018,
 2017,
 2014,
 2010,
 2013,
 2015,
 2013,
 2019,
 2001,
 2015,
 2004,
 2014,
 2016,
 2017,
 2016,
 2007,
 2015,
 2014,
 2013,
 2005,
 2003,
 2010,
 2014,
 2007,
 2017,
 2003,
 2008,
 2016,
 2010,
 2019,
 2010,
 2016,
 2014,
 2014,
 2002,
 2010,
 2017,
 2016,
 2015,
 2017,
 2014,
 2013,
 2016,
 2015,
 2016,
 2013,
 2012,
 2006,
 2001,
 2015,
 2015,
 2018,
 2009,
 2010,
 2012,
 2006,
 2007,
 2012,
 2003,
 2009,
 2009,
 2010,
 2016,
 2019,
 2009,
 2009,
 2000,
 2009,
 2012,
 2017,
 2013,
 2013,
 2005,
 2011,
 2010,
 2009,
 2013,
 2014,
 2015,
 2011,
 2014,
 2018,
 2014,
 2006,
 2013,
 2019,
 2011,
 2009,
 2012,
 2013,
 2014,
 2017,
 2009,
 2014,
 2004,
 2016,
 2011,
 2015,
 2013,
 2010,
 2012,
 2018,
 2017,
 2013,
 2016,
 2011,
 2014,
 2016,
 2016,
 2004,
 2015,
 2013,
 2015,
 2009,
 2010,
 2013,
 2010,
 2006,
 2012,
 2014,
 2017,
 2010,
 2009,
 2017,
 2009,
 2010,
 2014,
 2018,
 2013,
 2014,
 2006,
 2012,
 2011,
 2012,
 2018,
 2012,
 2007,
 2002,
 2011,
 2008,
 2014,
 2017,
 2003,
 2011,
 2011,
 2012,
 2017,
 2012,
 2012,
 2012,
 2012,
 2010,
 2015,
 2016,
 2015,
 2012,
 2016,
 2015,
 2014,
 2003,
 2016,
 2013,
 2012,
 2010,
 2008,
 2012,
 2016,
 2011,
 2014,
 2011,
 2016,
 2015,
 2013,
 2014,
 2011,
 2015,
 2012,
 2016,
 2013,
 2016,
 2014,
 2011,
 2005,
 2016,
 2017,
 2018,
 2015,
 2017,
 2014,
 2009,
 2004,
 2009,
 2015,
 2014,
 2009,
 2012,
 2013,
 2015,
 2014,
 2015,
 2012,
 2011,
 2018,
 2009,
 2004,
 2011,
 2017,
 2019,
 2006,
 2008,
 2014,
 2016,
 2009,
 2004,
 2015,
 2014,
 2018,
 2009,
 2016,
 2013,
 2009,
 2004,
 2014,
 2016,
 2015,
 2018,
 2009,
 2008,
 2011,
 2009,
 2015,
 2011,
 2003,
 2015,
 2015,
 2015,
 2013,
 2013,
 2007,
 2014,
 2019,
 2007,
 2009,
 2011,
 2007,
 2009,
 2011,
 2017,
 2007,
 2005,
 2017,
 2005,
 2015,
 2004,
 2012,
 2012,
 2013,
 2014,
 2014,
 2015,
 2012,
 2005,
 2018,
 2019,
 2006,
 2018,
 2014,
 1995,
 2007,
 2007,
 2002,
 2009,
 2008,
 2017,
 2012,
 2015,
 2007,
 2009,
 2014,
 2015,
 2006,
 2017,
 2010,
 2011,
 2013,
 2003,
 2017,
 2009,
 2009,
 2016,
 2014,
 2011,
 2013,
 2013,
 2013,
 2017,
 2009,
 2016,
 2013,
 2014,
 2015,
 2005,
 2005,
 2010,
 2017,
 2009,
 2014,
 2008,
 2005,
 2014,
 2012,
 2010,
 2011,
 2000,
 2016,
 2019,
 2016,
 2019,
 2005,
 2006,
 2016,
 2008,
 2019,
 2011,
 2016,
 2019,
 2017,
 2009,
 2000,
 2011,
 2013,
 2003,
 2006,
 2018,
 2015,
 2013,
 2009,
 2003,
 2004,
 2016,
 2009,
 2017,
 2013,
 2016,
 2016,
 2011,
 2011,
 2007,
 2016,
 2018,
 2016,
 2016,
 2006,
 2006,
 2005,
 2009,
 2009,
 2011,
 2009,
 2009,
 2018,
 2013]

In [101]:
car['year']=year

/var/folders/pj/6d53jbf941v4yyyzccgm4wp00000gn/T/ipykernel_1118/518195111.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['year']=year

In [102]:
car=car.drop(['name'],axis=1)

In [103]:
car

     company  year   Price  kms_driven  fuel_type
0          0  2007   80000       45000          0
1          1  2006  425000          40          1
3          0  2014  325000       28000          0
4          3  2014  575000       36000          1
6          3  2012  175000       41000          1
..       ...   ...     ...         ...        ...
883        2  2011  270000       50000          0
885       11  2009  110000       30000          1
886        6  2009  300000      132000          0
888       11  2018  260000       27000          1
889        1  2013  390000       40000          1

[816 rows x 5 columns]

In [104]:
x= car.drop(['Price'],axis=1)

In [105]:
y=car['Price']

In [106]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [108]:
model = linear_model.LinearRegression()

In [109]:
model.fit(x_train,y_train)

LinearRegression()

In [110]:
y_pred=model.predict(x_test)

In [111]:
y_pred

array([ 455915.26147918,  470415.53175449,  438210.46241803,
        492340.56160697,  605262.54505967,  554683.02758929,
        469940.37886821,  534390.08431734,  641155.82175724,
         26276.81719924,  219473.87951292,  431832.99247085,
        310034.72273775,  342018.70407762,  545882.15514928,
        700970.33914715,   39979.28432899,  552393.50404911,
        133881.51912923,  360605.42884148,  114701.78836022,
        626251.86515228,  586345.95323821,  258224.86921063,
        564637.22767734,  314613.7698181 ,  180127.34569216,
        391606.02486583,  373918.46021045,  503146.17057583,
        422388.92727771,  200207.48806884, -110747.85409833,
        425474.14619801,  200547.27008402,  341848.7617451 ,
        481097.66299978,   52647.52730288,  453216.69758295,
        591161.83080247,  327162.90929982,  534390.08431734,
        216776.09123786,  237111.79042269,  453439.84069911,
        561297.43067026,  429088.63693695,   25633.21389889,
        346666.23387768,  -29432.31407814,  518391.50376428,
        719727.00624353,  481094.88333671,   58176.57333206,
        480284.01471704,  317122.88943642,  333928.32308934,
        660506.54105822,  311831.756336  ,  841056.86638533,
        429234.30638727,  642851.29309282,  607278.89483792,
        331741.8537303 ,  440738.41101044,  216776.09123786,
        314103.94282053,  118720.41114781,  516848.63770558,
        120263.2772065 ,  386268.42715646,  353004.52434228,
         86177.05171464,   59245.77842294,  390962.42156548,
        508114.65341696,  519616.99899171,  236042.58533181,
        185349.99607285,  397321.06253856,  556395.83598051,
        414941.63639268,  438341.66435748,  365913.79634766,
        554683.02758929,  561297.43067026,  386807.38170734,
        489577.37709897,  470526.18366523,  439706.86386777,
        504622.14848313,  549951.37523206,  334353.92487987,
        386297.55470977,  535519.58767647,  438341.66435748,
        197935.19893444,  451099.48656479,  876306.04513317,
       -191239.44725657,  604440.18806015,  323177.8117742 ,
        672089.42698032,  697357.44297654,   14287.1584607 ,
        413661.122325  ,  547594.86089063,  365556.57462697,
        535246.48851295,  867653.60903838,  -27463.84622892,
        317869.44426802,  675090.93389069,  571014.90292427,
        309736.204717  ,   88656.94112976,  434530.78074591,
        237671.168516  ,  -16799.05203927,  438210.46241803,
        623933.61008945,  467734.97788519,  263363.29438429,
        605262.54505967,  441618.74214482,  383912.01546489,
        324890.62016542,  289347.24574034,  171429.52743328,
        404664.88869524,  386856.93280308,  600310.61894712,
        351482.00879207,  299278.76751451,  333049.38122354,
        361804.6923112 ,  530976.70662587,  244436.68495539,
        714825.41155379,  407446.90217733,  312610.73050746,
        350412.80370119,  394030.71397736,  463775.60716642,
        424538.71740992,  415281.52105773,  360859.59638103,
        200717.21241654,  506978.5601747 ,  486018.08666363,
        555601.11932175,  533466.89462021,  664898.20610053,
        601998.0592431 ,  273336.42609631,  450030.28147391,
        478164.53615926,  628079.62087218,  360215.99308069,
        689247.04791942,  605933.5030231 ,  403815.07438276,
        417637.93274929,  666501.37042749])

In [112]:
y_test

150     599999
700     200000
83      489999
813      60000
63      830000
        ...
160     169500
38      549000
100    1600000
373     265000
425    1000000
Name: Price, Length: 164, dtype: int64